<div class="thinking-today">
    <application-menu></application-menu>
    <div class="thinking-today-content">
        <div class="thinking-today-post">
            <mat-form-field floatLabel="never">
                <mat-label>What are you thinking toay?</mat-label>
                <div matPrefix mat-card-avatar>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Photo of a Shiba Inu">
                </div>

                <input type="search" matInput>
                <mat-icon matSuffix>send</mat-icon>
            </mat-form-field>
        </div>
        <div class="thinking-today-post-content">
            <mat-card>

                <mat-card-content>
                    <div class="card-header-action">
                        <button mat-icon-button>
                            <mat-icon>close</mat-icon>
                        </button>
                        <button mat-raised-button>10M Noted</button>
                        <div class="header-text"> <a class="anchor" href="javascript:void()"> #vanGogh </a> </div>
                        <button mat-raised-button>Note</button>
                        <button mat-icon-button>
                            <mat-icon>expand_more</mat-icon>
                        </button>
                    </div>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                    <img class="radius-border" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Photo of a Shiba Inu">
                    <div class="card-content-footer-action">
                        <button mat-button>
                            <mat-icon>alternate_email</mat-icon>10M
                        </button>
                        <button mat-button>
                            <mat-icon>chat_bubble_outline</mat-icon>10M
                        </button>
                        <button mat-button>
                            <mat-icon>favorite_border</mat-icon>100K
                        </button>
                        <button mat-button>
                            <mat-icon>share</mat-icon>2000
                        </button>
                        <button mat-button>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                        </button>
                        <span class="rating-comment">12M Ratings </span>
                    </div>
                </mat-card-content>
                <mat-card-header>
                    <div mat-card-avatar>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                            alt="Photo of a Shiba Inu">
                    </div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle><a class="anchor" href="javascript:void()">@Leo</a></mat-card-subtitle>
                    <mat-card-subtitle class="small-text-subtitle">2days ago [6 Apr 2019 11 50 am]</mat-card-subtitle>
                    <div class="app-flex-filler"></div>
                    <button mat-raised-button class="custom-button-round-30 button-belive">
                        <mat-icon>all_inclusive</mat-icon>
                        Believe
                    </button>
                </mat-card-header>
            </mat-card>
            <mat-card>

                <mat-card-content>
                    <div class="card-header-action">
                        <button mat-icon-button>
                            <mat-icon>close</mat-icon>
                        </button>
                        <button mat-raised-button>10M Noted</button>
                        <div class="header-text"> <a class="anchor" href="javascript:void()"> #vanGogh </a> </div>
                        <button mat-raised-button>Note</button>
                        <button mat-icon-button>
                            <mat-icon>expand_more</mat-icon>
                        </button>
                    </div>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                    <div class="card-content-footer-action">
                        <button mat-button>
                            <mat-icon>alternate_email</mat-icon>10M
                        </button>
                        <button mat-button>
                            <mat-icon>chat_bubble_outline</mat-icon>10M
                        </button>
                        <button mat-button>
                            <mat-icon>favorite_border</mat-icon>100K
                        </button>
                        <button mat-button>
                            <mat-icon>share</mat-icon>2000
                        </button>
                        <button mat-button>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                        </button>
                        <span class="rating-comment">12M Ratings </span>
                    </div>
                </mat-card-content>
                <mat-card-header>
                    <div mat-card-avatar>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                            alt="Photo of a Shiba Inu">
                    </div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle><a>@Leo</a></mat-card-subtitle>
                    <mat-card-subtitle class="small-text-subtitle">2days ago [6 Apr 2019 11 50 am]</mat-card-subtitle>
                    <div class="app-flex-filler"></div>
                    <button mat-raised-button class="custom-button-round-30 button-belive">
                        <mat-icon>all_inclusive</mat-icon>
                        Believe
                    </button>
                </mat-card-header>
            </mat-card>
        </div>
    </div>
</div>