/*thinking-today*/

.thinking-today-post-content {
  .mat-card {
    margin-bottom: 15px;
    .mat-card-content {
      font-size: 18px;
      .card-header-action {
        display: flex;
        margin: 0 -15px;
        .header-text {
          margin: auto;
        }
        button.mat-raised-button {
          line-height: 25px;
          margin: auto 0;
          color: #b4b4b4;
        }
        button.mat-icon-button {
          line-height: 25px;
          color: #b4b4b4;
          margin: auto 0;
        }
      }
      .mat-card-image {
        width: 100%;
        margin: 0;
      }
      .card-content-footer-action {
        position: relative;
        display: flex;
        margin: 0 -15px;
        justify-content: space-between;
        color: #707070;
        padding: 10px;
        .mat-icon {
          height: 18px;
          width: 18px;
          font-size: 18px;
        }
        .rating-comment {
          font-size: 12px;
          position: absolute;
          right: 22px;
          bottom: -10px;
        }
        button.mat-button {
          min-width: 10px;
          padding: 0 8px;
        }
      }
    }
    .mat-card-header {
      border-top: 2mm groove rgba(199, 195, 201, 0.07);
      padding-top: 10px;
      .mat-card-avatar {
        height: 50px;
        width: 50px;
        border-radius: unset;
        flex-shrink: 0;
        object-fit: cover;
        .mat-card-image {
          width: 100%;
          margin: 6px;
          border-radius: 10px;
          height: 100%;
        }
      }
      .mat-card-title {
        margin-bottom: 8px;
      }
      .mat-card-subtitle {
        margin-bottom: 8px;
        &.small-text-subtitle {
          font-size: 12px;
        }
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
}
