<div class="custom-nav-list">
    <!-- Ui Responsive Menu -->
    <nav class="ui-responsive-nav" role="navigation" fxShow="true" fxHide.gt-md>
        <ul>
            <li><a href="#">
                    &nbsp;<mat-icon>menu</mat-icon>
                </a>
                <ul class="dropdown">
                    <li><a href="#">Content&nbsp;Guidelines</a></li>
                    <li><a href="#">Copyright&nbsp;&&nbsp;Licensing</a></li>
                    <li><a href="#">Safety&nbsp;&&nbsp;Law</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <mat-nav-list fxShow="true" fxHide.lt-lg>
        <a mat-list-item class="active"> Content&nbsp;Guidelines</a>
        <a mat-list-item> Copyright&nbsp;&&nbsp;Licensing</a>
        <a mat-list-item> Safety&nbsp;&&nbsp;Law</a>
    </mat-nav-list>
</div>