<div class="manage-header">
    <mat-nav-list>
        <a mat-list-item class="active"><i class="material-icons">group_add</i>Details</a>
        <a mat-list-item><i class="material-icons">bubble_chart</i> Editor</a>
        <a mat-list-item><i class="material-icons">cloud</i> Cloud</a>
        <a mat-list-item><i class="material-icons">assignment_turned_in</i> Guidlines</a>
    </mat-nav-list>
</div>
<div class="manage-section space-sec-c-scroll" [style.height.px]="screenHeight - 163">
    <div class="track-cover">
        <fieldset>
            <legend>Track Cover Art</legend>
            <div class="cover">
                <i class="material-icons" (click)="addMore()">audiotrack</i><br>
                <span>Upload or Drag & Drop the cover Art</span>
            </div>
        </fieldset>
    </div>
    <div class="content-sec">
        <div class="advance">
            <label>
                Advanced Settings
            </label>
        </div>
        <div class="content display-inline">
            <fieldset class="seconday">
                <legend>Secondary Genre</legend>
            </fieldset>
            <fieldset class="visibility">
                <legend>Visibility</legend>
            </fieldset>
        </div>
        <div class="content display-inline">
            <fieldset class="release">
                <legend>Release Date</legend>
            </fieldset>
            <fieldset class="record">
                <legend>Record Label</legend>
            </fieldset>
        </div>
        <div class="content display-inline">
            <fieldset class="sharing">
                <legend>Allow Sharing</legend>
            </fieldset>
            <fieldset class="usage">
                <legend>Usage Rights</legend>
            </fieldset>
        </div>
        <div class="content display-inline">
            <fieldset class="rights">
                <legend>Content Rights</legend>
            </fieldset>
            <div class="turned-off">
                <div class="on-off"><span class="lbl-music">Monetise Music</span><br><span class="lbl-off">Turned
                        off</span></div>
                <div>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div>
                    <i class="material-icons">info</i>
                </div>
            </div>
        </div>
        <div class="content">
            <fieldset class="engagement">
                <legend>Engagement</legend>
            </fieldset>
        </div>
        <div class="content display-inline">
            <fieldset class="age">
                <legend>Age Restriction</legend>
            </fieldset>
            <fieldset class="embedding">
                <legend>Embedding</legend>
            </fieldset>
        </div>
        <div class="content">
            <fieldset class="branding">
                <legend>Branding</legend>
            </fieldset>
        </div>
    </div>
</div>