.video-player {
  margin: 0px;
  position: absolute;
  .player {
    margin: 0px;

    .video-sec {
      background-position: center;
      background-size: cover;
      background-repeat: repeat;
      border-radius: 10px;
      margin: 0;
      .video-hover-controls {
        height: 274px;
        width: 700px;
        background: #0199ff;
        position: absolute;
        top: 0;
      }
      video {
        margin-top: 0px;
        border-radius: 10px;
        margin-right: 0px;
        // width: 700px;
      }
      video::-webkit-media-controls {
        display: none !important;
      }
      video::-webkit-media-controls-enclosure {
        display: none !important;
      }
      .canvas-play-pause {
        position: relative;
        left: 45%;
        float: left;
        margin-top: 18%;
        .material-icons {
          font-size: 75px;
          color: blanchedalmond;
          position: absolute;
          cursor: pointer;
          top: 13%;
          left: 17%;
          margin-left: 0px;
          &:hover {
            color: #fff;
          }
        }
      }
      .video-control {
        margin-top: -32px;
        position: relative;
        &:hover {
          .video-control {
            display: block;
          }
        }
        .mat-slider-bar {
          height: 3px;
          mat-card {
            box-shadow: none;
            background: none !important;
            padding: 0;
            margin: auto;
            position: absolute;
            width: 100%;
            .buffer {
              height: 3px;
              background: #f0e7e7;
              width: 0%;
              max-width: 98%;
              position: fixed;
              margin-top: -4px;
              margin-left: 8px;
              position: absolute;
            }
            .back-slider {
              height: 3px;
              background: #47433e;
              width: 100%;
              max-width: 98%;
              position: fixed;
              margin-top: -4px;
              margin-left: 8px;
              position: absolute;
            }
          }
          .mat-slider-horizontal {
            height: 0;
            margin-top: -73px;
            width: 100%;
          }
          .mat-slider {
            padding: 0px;
            cursor: pointer;
          }
          .mat-slider-track-wrapper {
            height: 3px;
          }
          .mat-slider-track-background {
            height: 3px;
            background: none !important;
          }
          .mat-slider-track-fill {
            height: 3px;
            background: #0199ff;
          }
          .mat-slider-thumb {
            background: #0199ff;
          }
        }
        .progress {
          height: 3px;
          width: calc(100% - 0px);
          background: rgba(60, 60, 60, 0.6);
          margin: auto;
          border-radius: 6px;
          position: absolute;
          // left: 20px;
          bottom: 100%;
          transition: height 0.1s ease-in-out;
          span {
            margin-top: -36px;
            position: absolute;
            font-size: 12px;
            margin-left: 7px;
            color: #fff;
            font-weight: bold;
          }
        }
        .progress:hover {
          // height: 10px;
          cursor: pointer;
        }
        .progress-filled {
          background: #0199ff;
          width: 0%;
          height: 3px;
          border-radius: 6px;
          transition: all 0.1s;
          margin-top: -3px;
        }
        .progress-buffer {
          background: #f7f7f7;
          width: 0%;
          height: 3px;
          border-radius: 6px;
          transition: all 0.1s;
        }
        .progress-circle {
          background: none;
          width: 100%;
          height: 3px;
          transition: all 0.1s;
          span {
            margin-top: -8px;
            z-index: 1;
            height: 10px;
            width: 10px;
            background: #fff;
            border-radius: 10px;
            border: 1px solid #0199ff;
          }
        }
        // .seek {
        //   height: 15px;
        //   // background: #726c6c;
        //   padding: 0px;
        //   .material-icons {
        //     position: absolute;
        //     left: 80px;
        //     margin-top: -4px;
        //     color: #fff;
        //     cursor: pointer;
        //   }
        //   span {
        //     margin-top: -36px;
        //     position: absolute;
        //     font-size: 12px;
        //     margin-left: 7px;
        //     color: #fff;
        //     font-weight: bold;
        //   }
        // }
        .player-layout {
          min-height: 10px;
          background: #7b6d6d6e;
          position: relative;
          text-align: center;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          .play-control {
            display: inline-flex;
            width: 100%;
            margin-top: 3px;
            .play-pause {
              width: 52%;
              text-align: left;
              display: inline-flex;
              span {
                font-size: 14px;
                color: #848484;
                margin-left: 10px;
              }
              // .hifi {
              //   background: #848484;
              //   color: #fff;
              //   font-size: 10px;
              //   font-weight: bold;
              //   border-radius: 4px;
              //   height: 16px;
              //   width: 23px;
              //   text-align: center;
              //   margin-left: 10px;
              // }
              .material-icons {
                font-size: 18px;
                margin-left: 10px;
                color: #fff;
                cursor: pointer;
                position: relative;
                margin-right: 0px;
                margin-top: 0px;
                // &:hover {
                //   color: #fff;
                // }
                &.icon-desabled {
                  color: #d7d2d2;
                }
              }
              .volume {
                position: absolute;
                margin-left: 201px;
                background: #47433e;
                padding: 10px;
                border-radius: 10px;
                z-index: 1;
                width: 186px;
                display: inline-flex;
                .material-icons,
                span {
                  color: #fff;
                }
                input[type="range"] {
                  -webkit-appearance: none;
                  width: 100%;
                  background: none;
                }
                input[type="range"]:focus {
                  outline: none;
                }
                input[type="range"]::-webkit-slider-runnable-track {
                  width: 100%;
                  height: 3px;
                  cursor: pointer;
                  animate: 0.2s;
                  box-shadow: 0px 0px 0px #000000;
                  background: #2497e3;
                  border-radius: 1px;
                  border: 0px solid #000000;
                }
                input[type="range"]::-webkit-slider-thumb {
                  box-shadow: 0px 0px 0px #000000;
                  border: 1px solid #2497e3;
                  height: 10px;
                  width: 10px;
                  border-radius: 10px;
                  background: #ffffff;
                  cursor: pointer;
                  -webkit-appearance: none;
                  margin-top: -4px;
                }
                input[type="range"]:focus::-webkit-slider-runnable-track {
                  background: #2497e3;
                }
                input[type="range"]::-moz-range-track {
                  width: 100%;
                  height: 5px;
                  cursor: pointer;
                  animate: 0.2s;
                  box-shadow: 0px 0px 0px #000000;
                  background: #2497e3;
                  border-radius: 1px;
                  border: 0px solid #000000;
                }
                input[type="range"]::-moz-range-thumb {
                  box-shadow: 0px 0px 0px #000000;
                  border: 1px solid #2497e3;
                  height: 18px;
                  width: 18px;
                  border-radius: 25px;
                  background: #ffffff;
                  cursor: pointer;
                }
                input[type="range"]::-ms-track {
                  width: 100%;
                  height: 5px;
                  cursor: pointer;
                  animate: 0.2s;
                  background: transparent;
                  border-color: transparent;
                  color: transparent;
                }
                input[type="range"]::-ms-fill-lower {
                  background: #2497e3;
                  border: 0px solid #000000;
                  border-radius: 2px;
                  box-shadow: 0px 0px 0px #000000;
                }
                input[type="range"]::-ms-fill-upper {
                  background: #2497e3;
                  border: 0px solid #000000;
                  border-radius: 2px;
                  box-shadow: 0px 0px 0px #000000;
                }
                input[type="range"]::-ms-thumb {
                  margin-top: 1px;
                  box-shadow: 0px 0px 0px #000000;
                  border: 1px solid #2497e3;
                  height: 18px;
                  width: 18px;
                  border-radius: 25px;
                  background: #ffffff;
                  cursor: pointer;
                }
                input[type="range"]:focus::-ms-fill-lower {
                  background: #2497e3;
                }
                input[type="range"]:focus::-ms-fill-upper {
                  background: #2497e3;
                }
              }
            }
            .track-list {
              text-align: right;
              width: 48%;
              .track {
                display: inline-flex;
                div {
                  margin-left: 10px;
                }
                .on-off {
                  font-size: 12px;
                  color: #fff;
                }
                .full-screen-sec {
                  position: relative;
                  display: inline-flex;
                  .material-icons {
                    margin: 0px !important;
                    color: #fff;
                  }
                  .full-screen {
                    font-size: 20px;
                    margin-top: -2px;
                    position: relative;
                  }
                }
                .list-icon {
                  cursor: pointer;
                  .material-icons {
                    position: relative;
                    font-size: 18px;
                    margin: 0px !important;
                    color: #fff;
                  }
                }
              }
              /* The switch - the box around the slider */
              .switch {
                position: relative;
                display: inline-block;
                width: 45px;
                height: 18px;
              }

              /* Hide default HTML checkbox */
              .switch input {
                opacity: 0;
                width: 0;
                height: 0;
              }

              /* The slider */
              .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #fff;
                -webkit-transition: 0.4s;
                transition: 0.4s;
              }

              .slider:before {
                position: absolute;
                content: "";
                height: 12px;
                width: 12px;
                left: 2px;
                bottom: 1px;
                background-color: white;
                transition: 0.4s;
                border: 1px solid #848484;
              }

              input:checked + .slider {
                background-color: #2196f3;
              }

              input:focus + .slider {
                box-shadow: 0 0 1px #2196f3;
              }

              input:checked + .slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
              }

              /* Rounded sliders */
              .slider.round {
                border-radius: 34px;
                border: 1px solid #848484;
              }

              .slider.round:before {
                border-radius: 50%;
              }
            }
          }
          // .control-section {
          //   display: inline-flex;
          //   .fullScreen {
          //     display: flex;
          //     justify-content: center;
          //   }
          //   .control-section1,
          //   .control-section3 {
          //     margin-top: 10px;
          //   }
          //   .control-section4 {
          //     margin-top: 10px;
          //     margin-left: 130px;
          //     display: inline-flex;
          //     span {
          //       margin-left: 6px;
          //       color: #fff;
          //       font-weight: bold;
          //       font-size: 18px;
          //     }
          //     .full-screen {
          //       font-size: 36px;
          //       margin-top: -7px;
          //       margin-left: 28px;
          //     }
          //   }
          //   .material-icons {
          //     margin-left: 5px;
          //     margin-right: 5px;
          //     color: blanchedalmond;
          //     position: relative;
          //     cursor: pointer;
          //     &:hover {
          //       color: #fff;
          //     }
          //     &.icon-desabled {
          //       color: #d3c4c4;
          //     }
          //     &.icon-active {
          //       color: #fff;
          //     }
          //   }
          //   .play-pause {
          //     font-size: 40px;
          //     color: blanchedalmond;
          //   }
          // }
        }
      }
    }
  }
}

// .seek {
//   // excess height to improve interactive area / accessibility
//   $height: 30px;
//   $thumb-height: 13px;
//   $track-height: 3px;

//   // colours
//   $upper-color: #cfcfcf;
//   $lower-color: #0199ff;
//   $thumb-color: #0199ff;
//   $thumb-hover-color: #55c2ff;

//   $upper-background: linear-gradient(to bottom, $upper-color, $upper-color) 100% 50% / 100% $track-height no-repeat
//     transparent;
//   $lower-background: linear-gradient(to bottom, $lower-color, $lower-color) 100% 50% / 100% $track-height no-repeat
//     transparent;

//   // Webkit cannot style progress so we fake it with a long shadow
//   // on the thumb element
//   @function webkit-slider-thumb-shadow($i: 1) {
//     $val: #{$i}px 0 0 -#{($thumb-height - $track-height) / 2} #{$upper-color};
//     @if $i == 1 {
//       @for $k from 2 through 1000 {
//         $val: #{$val}, webkit-slider-thumb-shadow($k);
//       }
//     }
//     @return $val;
//   }
//   .e-range {
//     display: block;
//     appearance: none;
//     width: 100%;
//     margin: 0;
//     height: $height;
//     overflow: hidden;
//     cursor: pointer;
//     background: none;

//     &:focus {
//       outline: none;
//     }
//   }

//   // Webkit
//   .e-range::-webkit-slider-runnable-track {
//     width: 100%;
//     height: $height;
//     background: $lower-background;
//   }

//   .e-range::-webkit-slider-thumb {
//     position: relative;
//     appearance: none;
//     height: $thumb-height;
//     width: $thumb-height;
//     background: $thumb-color;
//     border-radius: 100%;
//     border: 0;
//     top: 50%;
//     margin-top: (-$thumb-height/2);
//     box-shadow: webkit-slider-thumb-shadow();
//     transition: background-color 150ms;
//   }

//   // Firefox
//   .e-range::-moz-range-track,
//   .e-range::-moz-range-progress {
//     width: 100%;
//     height: $height;
//     background: $upper-background;
//   }

//   .e-range::-moz-range-progress {
//     background: $lower-background;
//   }

//   .e-range::-moz-range-thumb {
//     appearance: none;
//     margin: 0;
//     height: $thumb-height;
//     width: $thumb-height;
//     background: $thumb-color;
//     border-radius: 100%;
//     border: 0;
//     transition: background-color 150ms;
//   }

//   // Internet Exploder
//   .e-range::-ms-track {
//     width: 100%;
//     height: $height;
//     border: 0;
//     // color needed to hide track marks
//     color: transparent;
//     background: transparent;
//   }

//   .e-range::-ms-fill-lower {
//     background: $lower-background;
//   }

//   .e-range::-ms-fill-upper {
//     background: $upper-background;
//   }

//   .e-range::-ms-thumb {
//     appearance: none;
//     height: $thumb-height;
//     width: $thumb-height;
//     background: $thumb-color;
//     border-radius: 100%;
//     border: 0;
//     transition: background-color 150ms;
//     // IE Edge thinks it can support -webkit prefixes
//     top: 0;
//     margin: 0;
//     box-shadow: none;
//   }

//   .e-range:hover,
//   .e-range:focus {
//     &::-webkit-slider-thumb {
//       background-color: $thumb-hover-color;
//     }
//     &::-moz-range-thumb {
//       background-color: $thumb-hover-color;
//     }
//     &::-ms-thumb {
//       background-color: $thumb-hover-color;
//     }
//   }
// }

.control-section4 {
  input[type="range"] {
    height: 11px;
    -webkit-appearance: none;
    width: 85%;
    margin-top: -33px;
    background: none;
    margin-left: -3px;
    margin-right: 0;
  }
  input[type="range"]:focus {
    outline: none;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #1f83c4;
    border-radius: 0px;
    border: 0px solid #000000;
    margin-top: -1px;
  }
  input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8.5px;
  }
  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #1f83c4;
  }
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #1f83c4;
    border-radius: 0px;
    border: 0px solid #000000;
  }
  input[type="range"]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
  }
  input[type="range"]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type="range"]::-ms-fill-lower {
    background: #1f83c4;
    border: 0px solid #000000;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type="range"]::-ms-fill-upper {
    background: #1f83c4;
    border: 0px solid #000000;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type="range"]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
  }
  input[type="range"]:focus::-ms-fill-lower {
    background: #1f83c4;
  }
  input[type="range"]:focus::-ms-fill-upper {
    background: #1f83c4;
  }
}
