<div class="video-player">
    <div class="player user-select-none">
        <div class="video-sec" #videoSection>
            <video #videoElement [style.height]="videoHeight" [style.width]="videoWidth"
                (click)="onClickVideo()"></video>
            <span class="canvas-play-pause" [ngStyle]="{'display':hideShowControl?'block':'none'}">
                <i class="material-icons" id="play" *ngIf="!isPlayed" (click)="onPlay()">play_arrow</i>
                <i class="material-icons" id="pause" *ngIf="isPlayed" (click)="onPause()">pause_circle_filled</i>
            </span>
            <div class="video-control" [ngStyle]="{'display':hideShowControl?'block':'none'}">
                <!-- <div class="seek">
                    <input type="range" class="e-range" id="seek" [(ngModel)]="currentTime" (change)="onSkip($event)"
                        min="{{minDuration}}" max="{{maxDuration}}" step="0.000001" />
                    <span>{{lapsTime}}</span>
                </div> -->
                <!-- <div class='progress' (click)="setProgress($event)" #progressSlider>
                    <div class='progress-buffer' [style.width.%]="bufferBarWidth"></div>
                    <div class='progress-filled' [style.width.%]="progressBarTime"></div>
                    <div class='progress-circle'>
                        <span [style.margin-left.%]="progressBarTime"></span>
                    </div>
                    <span>{{lapsTime}}</span>
                </div> -->
                <div class="mat-slider-bar">
                    <mat-card>
                        <mat-card-content>
                            <div class="back-slider"></div>
                            <div class="buffer" [style.width.%]="bufferBarWidth"></div>
                            <mat-slider class="example-margin" (change)="onSkip($event)" [max]="maxDuration"
                                [min]="minDuration" [step]="00.01" [thumbLabel]="thumbLabel" [(ngModel)]="currentTime">
                            </mat-slider>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="player-layout">
                    <div class="play-control">
                        <div class="play-pause">
                            <i class="material-icons" id="rewind" (click)="onRewind()">fast_rewind</i>
                            <i class="material-icons"
                                [ngClass]="{'icon-desabled':!isPreviousAvailable,'icon-active':isPreviousAvailable}"
                                id="previous" (click)="onPrevious()">skip_previous</i>
                            <i class="material-icons" *ngIf="!isPlayed" (click)="onPlay()">play_arrow</i>
                            <i class="material-icons" *ngIf="isPlayed" (click)="onPause()">pause</i>
                            <i class="material-icons" id="stop" (click)="onStop()">stop</i>
                            <i class="material-icons" id="next"
                                [ngClass]="{'icon-desabled':!isNextAvailable,'icon-active':isNextAvailable}"
                                (click)="onNext()">skip_next</i>
                            <i class="material-icons" id="forward" (click)="onForward()">fast_forward</i>
                            <!-- <div class="hifi">Hi-Fi</div> -->
                            <i *ngIf="!isMute" class="material-icons vol-toggel"
                                (click)="volume = !volume">volume_up</i>
                            <i *ngIf="isMute" class="material-icons" (click)="volume = !volume">volume_off</i>
                            <div class="volume" *ngIf="volume">
                                <i *ngIf="!isMute" class="material-icons" (click)="onVolume()">volume_up</i>
                                <i *ngIf="isMute" class="material-icons" (click)="onVolume()">volume_off</i>
                                <input type="range" id="volumeRaise" (change)="onVolumeRaise($event)"
                                    min="{{minVolume}}" max="{{maxVolume}}" step="1" />
                                <span>{{volumeRange*10}}</span>
                            </div>
                            <span>{{lapsTime}} / {{totalDuration}}</span>
                        </div>
                        <div class="track-list">
                            <div class="track">
                                <div class="on-off">Ads Turned off</div>
                                <!-- Rounded switch -->
                                <div>
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                                <div class="speed-sec">{{activeSpeed}}
                                    <div class="flip-speed-sec">
                                        <div class="speed" (click)="setSpeed(0.5,'0.5x')"
                                            [ngClass]="{'active':'0.5x'=== activeSpeed}">
                                            0.5x
                                        </div>
                                        <div class="speed" (click)="setSpeed(1,'1x')"
                                            [ngClass]="{'active':'1x'=== activeSpeed}">1x
                                        </div>
                                        <div class="speed" (click)="setSpeed(2,'2x')"
                                            [ngClass]="{'active':'2x'=== activeSpeed}">2x
                                        </div>
                                    </div>
                                </div>
                                <div class="full-screen-sec">
                                    <i class="material-icons full-screen" (click)="toggleFullscreen()"
                                        *ngIf="!isfullScreen">fullscreen</i>
                                    <i class="material-icons full-screen" (click)="toggleFullscreen()"
                                        *ngIf="isfullScreen">fullscreen_exit</i>
                                </div>
                                <div class="list-icon" (click)="menuClicked = !menuClicked"> <i
                                        class="material-icons">menu</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-menu" *ngIf="menuClicked">
        <div class="more-details-menu">
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="Up Next">
                    <div class="up-next">
                        <table matSort (matSortChange)="sortMediaData($event)">
                            <tr>
                                <th mat-header-cell mat-sort-header="title">Title</th>
                                <th mat-header-cell mat-sort-header="time">Time</th>
                                <th mat-header-cell mat-sort-header="publish">Publish</th>
                            </tr>
                            <tr *ngFor="let media of sortedMediaList" (click)="songSelected(media)"
                                [ngClass]="{'active':media.trackId === activeRow}">
                                <td>
                                    <div class="title-image">
                                        <div class="image" [style.background-image]="'url('+media.posterSrc+')'"
                                            [style.background.repeat]="'no-repeat'">
                                        </div>
                                        <div class="title-details">
                                            <span class="track-title">{{media.mediaTitle}}</span>
                                            <span class="track-sub-title">{{media.mediaSubTitle}}</span>
                                        </div>
                                    </div>
                                </td>
                                <td>{{media.time}}</td>
                                <td>{{media.publish}}</td>
                            </tr>
                        </table>
                    </div>
                </mat-tab>
                <mat-tab label="Recommended">Content 2</mat-tab>
                <mat-tab label="More By @Bettoven">Content 3</mat-tab>
                <mat-tab label="Download">Content 3</mat-tab>
                <mat-tab label="Library">Content 3</mat-tab>
                <mat-tab label="History">Content 3</mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>