.icon-inactive {
    text-decoration: none;
    color: #696868;
    border-left: 5px solid #ffffff;
    padding-bottom: 8px
}

.mat-drower-ul li a:hover {
    text-decoration: none;
    color: #2799fb;
    border-left: 5px solid #2799fb;
    padding-bottom: 8px
}

.icon-active {
    text-decoration: none;
    color: #2799fb;
    border-left: 5px solid #2799fb;
    padding-bottom: 8px
}

.left-menu-icon {
    font-size: 40px;
    color: #6b6767;
}

.mat-drawer-container {
    background-color: #fafdff !important;
    color: rgba(0, 0, 0, .87);
}

.mat-drower-ul {
    list-style: none;
    padding: 10px;
    line-height: 19px;
}

.mat-drower-ul li .icon-text {
    display: block;
    margin-bottom: -29px;
}

.mat-drower-ul li .icon-text-top {
    /* display: block; */
    margin-bottom: -29px;
    margin-top: 3px;
}

.mat-drower-ul li i {
    font-size: 35px;
    font-weight: 500;
}

.mat-drower-ul li {
    font-size: 35px;
    font-weight: 500;
}

.mat-drower-ul li span {
    font-size: 10px;
    margin-left: 5px;
    text-align: center;
}

.mat-drower-ul .icon-menu {
    margin-left: 4px;
    margin-top: -30px
}

.mat-drower-ul .icon-title {
    margin-left: 4px;
    margin-top: -9px
}