.left-nav-menu {
  text-align: center;
  span {
    display: block;
    font-size: 12px;
  }
  a {
    text-decoration: none;
    color: var(--left-anchor-color);
    display: block;
    padding: 1px;
    margin: 11px 0px;
    i {
      font-size: 30px;
    }
    &:hover {
      color: var(--text-active-color);
      background: var(--rgba-inactive-background);
      i {
        color: var(--text-active-color);
      }
    }
    &.active {
      color: var(--text-active-color);
      background: var(--rgba-inactive-background);
      i {
        color: var(--text-active-color);
      }
    }
    &:nth-last-child(1) {
      bottom: 0;
      width: 58px;
      position: absolute;
    }
    &:nth-last-child(2) {
      width: 58px;
      position: absolute;
      bottom: 0;
      margin-bottom: 75px;
    }
  }
}
