<div class="custom-nav-list">
    <!-- Ui Responsive Menu -->
    <nav class="ui-responsive-nav" role="navigation" fxShow="true" fxHide.gt-md>
        <ul>
            <li><a href="#">
                    &nbsp;<mat-icon>menu</mat-icon>
                </a>
                <ul class="dropdown">
                    <li [ngClass]="{'active':('allthinking'=== thinkingNav)}" [routerLink]="['/all-thinking']"
                        (click)="onClickThingingMenu('allthinking')"><a>All</a></li>
                    <li><a href="#">@theName</a></li>
                    <li [ngClass]="{'active':('note'=== thinkingNav)}" [routerLink]="['/note']"
                        (click)="onClickThingingMenu('note')"><a>Notes</a></li>
                    <li (click)="onClickThingingMenu('Photos')" [ngClass]="{'active':('Photos'=== thinkingNav)}">
                        <a>Photos</a></li>
                    <li (click)="onClickThingingMenu('Articles')" [ngClass]="{'active':('Articles'=== thinkingNav)}">
                        <a>Articles</a></li>
                    <li (click)="onClickThingingMenu('Jobs')" [ngClass]="{'active':('Jobs'=== thinkingNav)}"><a>Jobs</a>
                    </li>
                    <li (click)="onClickThingingMenu('Asks')" [ngClass]="{'active':('Asks'=== thinkingNav)}"><a
                            href="#">Asks</a></li>
                    <li (click)="onClickThingingMenu('Teams')" [ngClass]="{'active':('Teams'=== thinkingNav)}"><a
                            href="#">Teams</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <mat-nav-list fxShow="true" fxHide.lt-lg>
        <a mat-list-item [ngClass]="{'active':('allthinking'=== thinkingNav)}" [routerLink]="['/all-thinking']"
            (click)="onClickThingingMenu('allthinking')"> All</a>
        <a mat-list-item> @theName</a>
        <a mat-list-item [ngClass]="{'active':('note'=== thinkingNav)}" [routerLink]="['/note']"
            (click)="onClickThingingMenu('note')"> Notes</a>
        <a mat-list-item (click)="onClickThingingMenu('Photos')" [ngClass]="{'active':('Photos'=== thinkingNav)}">
            Photos</a>
        <a mat-list-item (click)="onClickThingingMenu('Articles')" [ngClass]="{'active':('Articles'=== thinkingNav)}">
            Articles</a>
        <a mat-list-item (click)="onClickThingingMenu('Jobs')" [ngClass]="{'active':('Jobs'=== thinkingNav)}"> Jobs</a>
        <a mat-list-item (click)="onClickThingingMenu('Asks')" [ngClass]="{'active':('Asks'=== thinkingNav)}"> Asks</a>
        <a mat-list-item (click)="onClickThingingMenu('Teams')" [ngClass]="{'active':('Teams'=== thinkingNav)}">
            Teams</a>
    </mat-nav-list>
</div>