.custom-nav-list {
  border-bottom: 2px solid var(--box-sadow-3);
  .mat-nav-list {
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    height: 46px;
    a.mat-list-item {
      border-bottom: 2px solid #fff;
      &.active {
        color: var(--text-active-color);
        border-bottom: 4px solid var(--text-active-color);
        background: var(--rgba-inactive-background);
        .mat-list-item-content {
          color: var(--text-active-color);
        }
      }
      &:hover {
        background: var(--rgba-inactive-background);
        color: var(--text-active-color);
        border-bottom: 4px solid var(--text-active-color);
        .mat-list-item-content {
          color: var(--text-active-color);
        }
      }
      .mat-list-item-content {
        padding: 0 5px;
        justify-content: center;
        min-width: 50px;
        color: var(--fore-color);
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
  .mat-list-item {
    height: 45px !important;
  }
}
.menu-spacer {
  flex: 1 1 auto;
}
