/*start-creating*/

.start-creating-header {
    padding-bottom: 20px;
    justify-content: space-between;
    .mat-raised-button {
        padding: 0 8px;
        line-height: 30px;
        min-width: 10px;
        margin-left: 5px;
    }
    .search {
        height: 30px;
        margin-left: 10px;
        overflow: hidden;
        border-radius: 15px;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        .mat-form-field {
            min-width: 10px;
            position: relative;
            top: -13px;
        }
    }
}
.start-creating-post {
    height: 60px;
    overflow: hidden;
    background: #F7F7F7;
    margin-left: -20px;
    margin-right: -20px;
    .mat-form-field {
        width: calc(100% - 20px);
        padding: 0 10px;
        
        .mat-card-avatar {
            height: 30px;
            width: 30px;
            border-radius: unset;
            flex-shrink: 0;
            object-fit: cover;
            .mat-card-image {
                width: 100%;
                margin: 0;
                height: 100%;
            }
        }
        
        .mat-raised-button {
            padding: 0 8px;
            line-height: 30px;
            min-width: 10px;
            margin-left: 5px;
        }
    }
}


.start-creating-post-content {
    .mat-card{
        margin-bottom: 15px;
        .mat-card-content {
            .card-header-action {
                display: flex;
                margin: 0 -15px;
                .header-text {
                    margin: auto;
                }
                button.mat-raised-button {
                    line-height: 30px;
                    margin: auto 0;
                }
                button.mat-icon-button {
                    line-height: 30px;
                    margin: auto 0;
                }
            }
            .mat-card-image {
                width: 100%;
                margin: 0;
            }
            .card-content-footer-action {
                position: relative;
                display: flex;
                margin: 0 -15px;
                justify-content: space-between;
                .mat-icon {
                    height: 18px;
                    width: 18px;
                    font-size: 18px;
                }
                .rating-comment {
                    font-size: 12px;
                    position: absolute;
                    right: 10px;
                    bottom: -10px;
                }
                button.mat-button {
                    min-width: 10px;
                    padding: 0 8px;
                }
            }
        }
        .mat-card-header {
            .mat-card-avatar {
                height: 50px;
                width: 50px;
                border-radius: unset;
                flex-shrink: 0;
                object-fit: cover;
                .mat-card-image {
                    width: 100%;
                    margin: 0;
                    border-radius: 10px;
                    height: 100%;
                }
            }
            .mat-card-title {
                margin-bottom: 8px;
            }
            .mat-card-subtitle {
                margin-bottom: 8px;
                &.small-text-subtitle{
                    font-size: 12px;
                }
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }

} 
.start-creating-post-content.vertical-post {
    display: flex;
    justify-content: space-between;
    .mat-card {
        width: calc(50% - 37px);
    }
    
}