<music-menu></music-menu>
<div class="section-c-y">
<div class="start-creating-post-content vertical-post ">
    <mat-card>
        <mat-card-content>
            <div class="card-header-action">
                <button mat-icon-button>
                    <mat-icon>close</mat-icon>
                </button>
                <button mat-raised-button>10M Noted</button>
                <div class="app-flex-filler"></div>
                <button mat-raised-button>Note</button>
                <button mat-icon-button>
                    <mat-icon>expand_more</mat-icon>
                </button>
            </div>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">

        </mat-card-content>
        <mat-card-header>
            <div mat-card-avatar>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
            </div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle><a>@Leo</a></mat-card-subtitle>
            <mat-card-subtitle class="small-text-subtitle">2days ago [6 Apr 2019 11 50 am]</mat-card-subtitle>
            <div class="app-flex-filler"></div>

        </mat-card-header>
    </mat-card>
    <mat-card>

        <mat-card-content>
            <div class="card-header-action">
                <button mat-icon-button>
                    <mat-icon>close</mat-icon>
                </button>
                <button mat-raised-button>10M Noted</button>
                <div class="app-flex-filler"></div>
                <button mat-raised-button>Note</button>
                <button mat-icon-button>
                    <mat-icon>expand_more</mat-icon>
                </button>
            </div>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">

        </mat-card-content>
        <mat-card-header>
            <div mat-card-avatar>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
            </div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle><a>@Leo</a></mat-card-subtitle>
            <mat-card-subtitle class="small-text-subtitle">2days ago [6 Apr 2019 11 50 am]</mat-card-subtitle>
            <div class="app-flex-filler"></div>

        </mat-card-header>
    </mat-card>
</div>
<div class="start-creating-post-content vertical-post ">
        <mat-card>
            <mat-card-content>
                <div class="card-header-action">
                    <button mat-icon-button>
                        <mat-icon>close</mat-icon>
                    </button>
                    <button mat-raised-button>10M Noted</button>
                    <div class="app-flex-filler"></div>
                    <button mat-raised-button>Note</button>
                    <button mat-icon-button>
                        <mat-icon>expand_more</mat-icon>
                    </button>
                </div>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
    
            </mat-card-content>
            <mat-card-header>
                <div mat-card-avatar>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Photo of a Shiba Inu">
                </div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle><a>@Leo</a></mat-card-subtitle>
                <mat-card-subtitle class="small-text-subtitle">2days ago [6 Apr 2019 11 50 am]</mat-card-subtitle>
                <div class="app-flex-filler"></div>
    
            </mat-card-header>
        </mat-card>
        <mat-card>
    
            <mat-card-content>
                <div class="card-header-action">
                    <button mat-icon-button>
                        <mat-icon>close</mat-icon>
                    </button>
                    <button mat-raised-button>10M Noted</button>
                    <div class="app-flex-filler"></div>
                    <button mat-raised-button>Note</button>
                    <button mat-icon-button>
                        <mat-icon>expand_more</mat-icon>
                    </button>
                </div>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
    
            </mat-card-content>
            <mat-card-header>
                <div mat-card-avatar>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Photo of a Shiba Inu">
                </div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle><a>@Leo</a></mat-card-subtitle>
                <mat-card-subtitle class="small-text-subtitle">2days ago [6 Apr 2019 11 50 am]</mat-card-subtitle>
                <div class="app-flex-filler"></div>
    
            </mat-card-header>
        </mat-card>
    </div>
</div>