.ui-responsive-menu-music {
  padding-bottom: 10px;
}
.custom-nav-list-music {
  .mat-nav-list {
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    .mat-list-item:hover {
      background: none !important;
    }
    a.mat-list-item {
      border-bottom: 2px solid #fff;
      height: 22px;
      margin-top: -3px;
      &.active {
        color: #3597ec;
        border-bottom: 4px solid #3597ec;
        .mat-list-item-content {
          color: #3597ec;
        }
      }
      &:hover {
        color: #3597ec;
        border-bottom: 4px solid #3597ec;
        .mat-list-item-content {
          color: #3597ec;
        }
      }
      .mat-list-item-content {
        padding: 0 3px;
        justify-content: center;
        color: #707070;
        font-size: 18px;
      }
    }
    .icon-prefix {
      margin-top: 10px;
    }
  }
}

.custom-nav-list-music-header {
  width: 100%;
  .mat-nav-list {
    margin-top: -8px;
    display: flex;
    flex-direction: row;
    a.mat-list-item {
      // border-bottom: 2px solid #fff;
      height: 49px;
      &.active {
        color: #3597ec;
        background: rgba(53, 151, 236, 0.21);
        .mat-list-item-content {
          color: #3597ec;
        }
      }
      &:hover {
        background: rgba(53, 151, 236, 0.21);
        .mat-list-item-content {
          color: #3597ec;
        }
      }
      .mat-list-item-content {
        padding: 0 3px;
        justify-content: center;
        color: #5f5f5f;
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
  .search-sec {
    float: left;
    padding-right: 10px;
    margin-top: 20px;
    width: 40%;
    .mat-form-field {
      width: 100%;
    }
    .search {
      height: 30px;
      margin-left: 10px;
      overflow: hidden;
      border-radius: 15px;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      .mat-form-field {
        min-width: 10px;
        position: relative;
        top: -13px;
      }
    }
    .material-icons {
      position: absolute;
      margin-top: -18px;
    }
    .mat-form-field-appearance-legacy .mat-form-field-label {
      padding-left: 22px;
    }
    input.mat-input-element {
      padding-left: 23px;
    }
  }
}

.ui-responsive-search {
  .search-sec {
    float: left;
    padding-right: 10px;
    margin-top: 20px;
    width: 100%;
    .mat-form-field {
      width: 100%;
    }
    .search {
      height: 30px;
      margin-left: 10px;
      overflow: hidden;
      border-radius: 15px;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      .mat-form-field {
        min-width: 10px;
        position: relative;
        top: -13px;
      }
    }
    .material-icons {
      position: absolute;
      margin-top: -18px;
    }
    .mat-form-field-appearance-legacy .mat-form-field-label {
      padding-left: 22px;
    }
    input.mat-input-element {
      padding-left: 23px;
    }
  }
}
