.ui-responsive-menu-music {
  padding-bottom: 10px;
}
.custom-nav-list-music {
  .mat-nav-list {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
    padding-top: 5px;
    .mat-list-item:hover {
      background: none !important;
    }
    a.mat-list-item {
      border-bottom: 2px solid var(--primary-color);
      height: 22px;
      margin-top: -3px;
      &.active {
        color: var(--text-active-color);
        border-bottom: 4px solid var(--text-active-color);
        .mat-list-item-content {
          color: var(--text-active-color);
        }
      }
      &:hover {
        color: var(--text-active-color);
        border-bottom: 4px solid var(--text-active-color);
        .mat-list-item-content {
          color: var(--text-active-color);
        }
      }
      .mat-list-item-content {
        padding: 0 3px;
        justify-content: center;
        color: var(--title-color);
        font-size: 18px;
      }
    }
    .icon-prefix {
      margin-top: 10px;
    }
  }
}

.custom-nav-list-music-header {
  width: 100%;
  .mat-nav-list {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    a.mat-list-item {
      // border-bottom: 2px solid #fff;
      height: 46px;
      &.active {
        color: var(--text-active-color);
        background: var(--rgba-inactive-background);
        .mat-list-item-content {
          color: var(--text-active-color);
        }
      }
      &:hover {
        background: var(--rgba-inactive-background);
        .mat-list-item-content {
          color: var(--text-active-color);
        }
      }
      .mat-list-item-content {
        padding: 0 3px;
        justify-content: center;
        color: var(--fore-color);
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
  .search-sec {
    float: left;
    padding-right: 10px;
    margin-top: 9px;
    width: 40%;
    .mat-form-field {
      width: 100%;
    }
    .search {
      height: 30px;
      margin-left: 10px;
      overflow: hidden;
      border-radius: 15px;
      box-shadow: #D1D1D1 0px 3px 6px;
      .mat-form-field {
        min-width: 10px;
        position: relative;
        top: -13px;
      }
    }
    .material-icons {
      position: absolute;
      margin-top: -18px;
    }
    .mat-form-field-appearance-legacy .mat-form-field-label {
      padding-left: 22px;
    }
    input.mat-input-element {
      padding-left: 23px;
    }
  }
  .mat-list-base {
    padding-top: 0px !important;
  }
}

.ui-responsive-search {
  .search-sec {
    float: left;
    padding-right: 10px;
    margin-top: 20px;
    width: 100%;
    .mat-form-field {
      width: 100%;
    }
    .search {
      height: 30px;
      margin-left: 10px;
      overflow: hidden;
      border-radius: 15px;
      box-shadow: #D1D1D1 0px 3px 6px;
      .mat-form-field {
        min-width: 10px;
        position: relative;
        top: -13px;
      }
    }
    .material-icons {
      position: absolute;
      margin-top: -18px;
    }
    .mat-form-field-appearance-legacy .mat-form-field-label {
      padding-left: 22px;
    }
    input.mat-input-element {
      padding-left: 23px;
    }
  }
}
