<div class="story-vedio">
    <mat-card>
        <mat-card-content>
            <div class="card-header-action">
                <div class="top-lef-titel">
                    <span>10M seen</span>
                </div>
                <div class="top-right-titel">
                    <span>Story</span>
                    <button mat-icon-button>
                        <mat-icon>expand_more</mat-icon>
                    </button>
                </div>
            </div>
            <img mat-card-image src="../../../assets/images/bulb.png" alt="Photo of a Shiba Inu">
        </mat-card-content>
        <mat-card-header>
            <div class="logo-img">
                <img src="../../../assets/images/monalisha.png" alt="Photo of a Shiba Inu">
            </div>
            <mat-card-title>The Art Gallery</mat-card-title>
            <mat-card-subtitle class="small-text-subtitle">Published on 1 Jan 2019</mat-card-subtitle>
            <div class="app-flex-filler"></div>
        </mat-card-header>
    </mat-card>
</div>