.published-user {
  padding-top: 10px;
  .mat-card {
    box-shadow: none;
    padding: 0;
    margin: 0;
  }
  .mat-card-header {
    display: inline-flex;
  }
  .mat-card-avatar {
    height: 35px;
    width: 35px;
    border-radius: unset;
    flex-shrink: 0;
    object-fit: cover;
    .mat-card-image {
      width: 100%;
      margin: 4px;
      border-radius: 10px;
      height: 100%;
    }
  }
  .mat-card-header-text {
    width: 73%;
    margin: 0 10px;
    .mat-card-title {
      font-size: 15px;
      font-weight: bold;
      color: var(--title-cart-color);
    }
    .mat-card-subtitle {
      font-size: 12px;
      color: var(--subtile-color);
    }
  }
}
