.thinking-today-post {
  padding-bottom: 10px;
  .mat-form-field {
    width: calc(100% - 20px);
    padding: 0 10px;
    .mat-card-avatar {
      height: 30px;
      width: 30px;
      border-radius: unset;
      flex-shrink: 0;
      object-fit: cover;
      .mat-card-image {
        width: 100%;
        margin: 0;
        height: 100%;
        margin-bottom: -6px;
        border-radius: 8px;
      }
    }
  }
}
.search-think {
  padding: 6px;
  background-color: #f7f7f7;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-left: -20px;
  margin-right: -20px;
  .search-image {
    width: 30px;
    height: 30px;
    border-radius: 10px;
  }
  .icon-sufix {
    float: right;
    margin-top: -27px;
    margin-right: 5px;
    position: relative;
  }
  .icon-prefix {
    position: sticky;
    margin-bottom: -31px;
    margin-left: 5px;
    width: 30px;
  }
  .search-box {
    border-radius: 7px;
    width: 89%;
    border: 0px solid;
    text-align: left;
    background-color: #f7f7f7;
    height: 28px;
    padding-right: 30px;
    padding-left: 30px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  .search-box::placeholder {
    font-family: FontAwesome;
    font-family: "Calibri", sans-serif !important;
    font-weight: 400;
    font-size: 16px;
  }
}
