.search-box {
  display: inline-flex;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #90cbfc;
  width: 100%;
  margin-bottom: 20px;
  mat-icon {
    width: 35px;
    font-size: 25px;
    margin-top: 17px;
    color: #d3e9fb;
    margin-left: 10px;
  }
  .input-box {
    width: 94%;
    border: none;
    outline: none;
    &::placeholder {
      font-size: 15px;
      color: #707070;
    }
  }
  .btn-publish {
    width: 60px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background: #d3e9fb;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 10px;
  }
}
