<div class="custom-nav-list">
    <!-- Ui Responsive Menu -->
    <nav class="ui-responsive-nav" role="navigation" fxShow="true" fxHide.gt-md>
        <ul>
            <li><a href="#">
                    &nbsp;<mat-icon>menu</mat-icon>
                </a>
                <ul class="dropdown">
                    <li><a href="#">Cookie&nbsp;Policy</a></li>
                    <li><a href="#">Privacy&nbsp;Policy</a></li>
                    <li><a href="#">Tracking&nbsp;Policy</a></li>
                    <li><a href="#">Data&nbsp;Policy</a></li>
                    <li><a href="#">Terms&nbsp;of&nbsp;Service</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <mat-nav-list fxShow="true" fxHide.lt-lg>
        <a mat-list-item class="active"> Cookie&nbsp;Policy</a>
        <a mat-list-item> Privacy&nbsp;Policy</a>
        <a mat-list-item> Tracking&nbsp;Policy</a>
        <a mat-list-item> Data&nbsp;Policy</a>
        <a mat-list-item> Terms&nbsp;of&nbsp;Service</a>
    </mat-nav-list>
</div>