.app-menu li {
    display: inline;
    margin: 3px;
    list-style-type: none;
    line-height: 4em;
}

.app-menu .mat-raised-button {
    line-height: 28px !important;
    border-radius: 10px !important;
}

.logout-text {
    position: absolute;
    margin-left: -31px;
    margin-top: 10px;
}

.logout-icon {
    font-size: 27px;
    color: #c5c5c5;
}

.header-icon {
    font-size: 12px;
    color: #c5c5c5;
}

.logout-link {
    position: absolute;
    padding-top: 5px;
}

.app-menu li, span {
    font-size: 10px;
    margin-left: 5px;
    text-align: center;
}