<!-- <ul class="app-menu">
    <li>
        <a mat-raised-button routerLink=".">All</a>
    </li>
    <li>
        <a mat-raised-button routerLink="."> <i class="material-icons small header-icon">assignment</i>News</a>
    </li>
    <li>
        <a mat-raised-button routerLink="."><i class="material-icons small header-icon">motorcycle</i>Sports</a>
    </li>
    <li>
        <a mat-raised-button routerLink="."><i class="material-icons small header-icon">local_dining</i>Food</a>
    </li>
    <li>
        <a mat-raised-button routerLink="."><i class="material-icons small header-icon">event_note</i>Events</a>
    </li>
    <li>
        <a mat-raised-button routerLink="."><i class="material-icons small header-icon">place</i>Places</a>
    </li>
    <li>
        <a mat-raised-button routerLink=".">More</a>
    </li>
    <li>
        <a class="logout-link" routerLink=".">
            <i class="material-icons small logout-icon">exit_to_app</i>
            <span class="logout-text">Log Out</span>
        </a>
    </li>
</ul> -->

<div class="custom-nav-list">
    <mat-nav-list>
        <a mat-list-item class="active"> All</a>
        <a mat-list-item> @theName</a>
        <a mat-list-item> Notes</a>
        <a mat-list-item> Photos</a>
        <a mat-list-item> Articles</a>
        <a mat-list-item> Jobs</a>
        <a mat-list-item> Asks</a>
        <a mat-list-item> Teams</a>
    </mat-nav-list>
</div>