<ul class="app-menu">
    <li>
        <a mat-raised-button routerLink=".">All</a>
    </li>
    <li>
        <a mat-raised-button routerLink="."> <i class="material-icons small header-icon">assignment</i>News</a>
    </li>
    <li>
        <a mat-raised-button routerLink="."><i class="material-icons small header-icon">motorcycle</i>Sports</a>
    </li>
    <li>
        <a mat-raised-button routerLink="."><i class="material-icons small header-icon">local_dining</i>Food</a>
    </li>
    <li>
        <a mat-raised-button routerLink="."><i class="material-icons small header-icon">event_note</i>Events</a>
    </li>
    <li>
        <a mat-raised-button routerLink="."><i class="material-icons small header-icon">place</i>Places</a>
    </li>
    <li>
        <a mat-raised-button routerLink=".">More</a>
    </li>
    <li>
        <a class="logout-link" routerLink=".">
            <i class="material-icons small logout-icon">exit_to_app</i>
            <span class="logout-text">Log Out</span>
        </a>
    </li>
</ul>