<div class="custom-nav-list-music-header">
    <div class="search-sec">
        <div class="search mar-t-b-auto">
            <mat-form-field floatLabel="never">
                <mat-label>Start Creating</mat-label>
                <mat-icon matPrefix>search</mat-icon>
                <input type="search" matInput>
            </mat-form-field>
        </div>
    </div>
    <div style="display:inline;">
        <mat-nav-list>
            <a mat-list-item class="active"> Treanding</a>
            <a mat-list-item> Contacts</a>
            <a mat-list-item> Believers</a>
        </mat-nav-list>
    </div>
</div>
<div class="custom-nav-list-music">
    <!-- Ui Responsive Menu -->
    <nav class="ui-responsive-nav" role="navigation" fxShow="true" fxHide.gt-md>
        <ul>
            <li><a href="#">
                    &nbsp;<mat-icon>menu</mat-icon>
                </a>
                <ul class="dropdown">
                    <li><a href="#">
                            <div class="icon-prefix">
                                <mat-icon>filter_list</mat-icon>
                            </div>
                        </a>
                    </li>
                    <li><a href="#">All</a></li>
                    <li><a href="#">Videos</a></li>
                    <li><a href="#">Live</a></li>
                    <li><a href="#">Virtual&nbsp;Reality</a></li>
                    <li><a href="#">Music</a></li>
                    <li><a href="#">Postcasts</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <mat-nav-list fxShow="true" fxHide.lt-lg>
        <a mat-list-item>
            <div class="icon-prefix">
                <mat-icon>filter_list</mat-icon>
            </div>
        </a>
        <a mat-list-item class="active"> All</a>
        <a mat-list-item> Videos</a>
        <a mat-list-item> Live</a>
        <a mat-list-item> Virtual&nbsp;Reality</a>
        <a mat-list-item> Music</a>
        <a mat-list-item> Postcasts</a>
        <a mat-list-item>
            <div>
                <mat-icon>add_circle_outline</mat-icon>
            </div>
        </a>
    </mat-nav-list>
</div>