<ul class="music-menu">
    <li>
        <a mat-raised-button routerLink="#" (click)="AllClicked()">All</a>
    </li>
    <li>
        <a mat-raised-button routerLink="#" (click)="VideoClicked()">Vedios</a>
    </li>
    <li>
        <a mat-raised-button routerLink="#" (click)="MusicClicked()">Music</a>
    </li>
    <li>
        <a mat-raised-button routerLink="#" (click)="PostCastsClicked()">Podcasts</a>
    </li>
    <li>
        <a mat-raised-button routerLink="#" (click)="PauseClicked()"><i class="material-icons">pause</i></a>
    </li>
    <li>
        <a mat-raised-button routerLink="#" (click)="PlayClicked()"><i class="material-icons rotate-90">pause</i></a>
    </li>
</ul>