<div class="vedio">
    <mat-card>
        <mat-card-content>
            <div class="card-header-action">
                <div class="top-lef-titel">
                    <span>20M Watched</span>
                </div>
                <div class="top-right-titel">
                    <span><b>90 Min</b> video</span>
                    <button mat-icon-button>
                        <mat-icon>expand_more</mat-icon>
                    </button>
                </div>
            </div>
            <img class="radius-border" mat-card-image src="../../../assets/images/vedio.JPG" alt="Photo of a Shiba Inu">
            <div class="hash-link">
                <span>#VanGogh #StarryNight #Art</span>
            </div>
            <div class="title">
                <span>The Electricity Tower Explained</span>
            </div>
        </mat-card-content>
        <published-user></published-user>
    </mat-card>
</div>