.space-sec-a-scroll {
  overflow-y: auto;
  height: calc(100vh - 195px);
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
}

.space-sec-b-scroll {
  overflow-y: auto;
  height: calc(100vh - 203px);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
}

.space-sec-c-scroll {
  overflow-y: auto;
  height: calc(100vh - 192px);
  padding: 5px;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 10px;
}
