<!-- <div class="left-layout-sec box-shadow">
    <social-menu></social-menu>
    <div class="space-sec-a-scroll">
        <story></story>
    </div>
</div>
<div class="middle-layout-sec box-shadow">
    <application-menu></application-menu>
    <search></search>
    <div class="space-sec-b-scroll">
        <thinking></thinking>
    </div>
</div>
<div class="right-layout-sec box-shadow">
    <music-menu></music-menu>
    <div class="space-sec-c-scroll">
        <creating></creating>
    </div>
</div> -->