.left-layout-sec {
    width: 19%;
    background: #fff;
    float: left;
    padding: 0px 20px 0px 20px;
}

.middle-layout-sec {
    width: 39%;
    margin: 0 22px;
    background: #fff;
    float: left;
    padding: 0px 20px 0px 20px;
}

.right-layout-sec {
    width: 29%;
    background: #fff;
    float: left;
    padding: 0px 20px 0px 20px;
}