.left-layout-sec {
    width: 21%;
    background: #fff;
    float: left;
}

.middle-layout-sec {
    width: 42%;
    margin: 0 22px;
    background: #fff;
    float: left;
}

.right-layout-sec {
    width: 31%;
    background: #fff;
    float: left;
}