<div class="cookies">
    <div class="img-sec">
        <img src="../../../../assets/images/policy.JPG">
    </div>
    <div class="content-sec">
        <p>Cookies are small pieces of text used to store information on web browsers. Cookies are used to store and
            receive identifiers and other information on computers, phones and other devices. Other technologies,
            including data we store on your web browser or device, identifiers associated with your device, and other
            software, are used for similar purposes. In this policy, we refer to all of these technologies as “cookies.”
        </p>
    </div>
</div>
<div class="cookies">
    <div class="img-sec">
        <!-- <img src="../../../../assets/images/policy.JPG"> -->
        &nbsp;
    </div>
    <div class="content-sec">
        <p>This policy explains
            how we use cookies and the choices you have. Except as otherwise stated in this policy, the Data Policy will
            apply to our processing of the data that we collect via cookies.</p>
    </div>
</div>
<div class="cookies">
    <div class="img-sec">
        <!-- <img src="../../../../assets/images/policy.JPG"> -->
        &nbsp;
    </div>
    <div class="content-sec">
        <p>Cookies are small pieces of text used to store information on web browsers. Cookies are used to store and
            receive identifiers and other information on computers, phones and other devices. Other technologies,
            including data we store on your web browser or device, identifiers associated with your device, and other
            software, are used for similar purposes. In this policy, we refer to all of these technologies as “cookies.”
        </p>
    </div>
</div>
<div class="cookies">
    <div class="img-sec">
        <!-- <img src="../../../../assets/images/policy.JPG"> -->
        &nbsp;
    </div>
    <div class="content-sec">
        <p>This policy explains
            how we use cookies and the choices you have. Except as otherwise stated in this policy, the Data Policy will
            apply to our processing of the data that we collect via cookies.</p>
    </div>
</div>