<div class="left-layout-sec box-shadow">
    <div class="studio-menu-sec">
        <div class="studio-titel">
            <div class="profile">
                <img mat-card-image src="../../../assets/images/subscribers.png" alt="Photo of a Shiba Inu">
                <span>Albert Einstein</span>
                <mat-icon>arrow_drop_down</mat-icon>
            </div>
        </div>
        <div class="studio-menu space-sec-a-scroll">
            <mat-card>
                <mat-card-header>
                    <div class="mat-card-icon">
                        <i class="material-icons solid-icon">trending_up</i>
                    </div>
                    <mat-card-title>Manage & Analytics</mat-card-title>
                    <mat-card-subtitle>Content Management & Performance
                    </mat-card-subtitle>
                    <div class="app-flex-filler"></div>
                </mat-card-header>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <div class="mat-card-icon">
                        <i class="material-icons">center_focus_strong</i>
                    </div>
                    <mat-card-title>Story</mat-card-title>
                    <mat-card-subtitle>What are you upto Today?
                    </mat-card-subtitle>
                    <div class="app-flex-filler"></div>
                </mat-card-header>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <div class="mat-card-icon">
                        <i class="material-icons solid-icon">notes</i>
                    </div>
                    <mat-card-title>Note</mat-card-title>
                    <mat-card-subtitle>Create your Thoughts
                    </mat-card-subtitle>
                    <div class="app-flex-filler"></div>
                </mat-card-header>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <div class="mat-card-icon">
                        <i class="material-icons">import_contacts</i>
                    </div>
                    <mat-card-title>Article</mat-card-title>
                    <mat-card-subtitle>Publish your Words
                    </mat-card-subtitle>
                    <div class="app-flex-filler"></div>
                </mat-card-header>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <div class="mat-card-icon">
                        <i class="material-icons">insert_photo</i>
                    </div>
                    <mat-card-title>Photos</mat-card-title>
                    <mat-card-subtitle>Share your Clicks
                    </mat-card-subtitle>
                    <div class="app-flex-filler"></div>
                </mat-card-header>
            </mat-card>
            <mat-card>
                <mat-card-header class="active">
                    <div class="mat-card-icon">
                        <i class="material-icons">play_circle_filled</i>
                    </div>
                    <mat-card-title>Video</mat-card-title>
                    <mat-card-subtitle>Upload your Videos
                    </mat-card-subtitle>
                    <div class="app-flex-filler"></div>
                </mat-card-header>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <div class="mat-card-icon">
                        <i class="material-icons">music_note</i>
                    </div>
                    <mat-card-title>Music</mat-card-title>
                    <mat-card-subtitle>Sing to the World
                    </mat-card-subtitle>
                    <div class="app-flex-filler"></div>
                </mat-card-header>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <div class="mat-card-icon">
                        <i class="material-icons">keyboard_voice</i>
                    </div>
                    <mat-card-title>Podcast</mat-card-title>
                    <mat-card-subtitle>Start Broadcasting
                    </mat-card-subtitle>
                    <div class="app-flex-filler"></div>
                </mat-card-header>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <div class="mat-card-icon">
                        <i class="material-icons">poll</i>
                    </div>
                    <mat-card-title>Ask</mat-card-title>
                    <mat-card-subtitle>Whats your Question?
                    </mat-card-subtitle>
                    <div class="app-flex-filler"></div>
                </mat-card-header>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <div class="mat-card-icon">
                        <i class="material-icons">poll</i>
                    </div>
                    <mat-card-title>Poll</mat-card-title>
                    <mat-card-subtitle>Confused? Take a Poll
                    </mat-card-subtitle>
                    <div class="app-flex-filler"></div>
                </mat-card-header>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <div class="mat-card-icon">
                        <i class="material-icons">work</i>
                    </div>
                    <mat-card-title>Job</mat-card-title>
                    <mat-card-subtitle>find the right people to Work
                    </mat-card-subtitle>
                    <div class="app-flex-filler"></div>
                </mat-card-header>
            </mat-card>
        </div>
    </div>
</div>
<div class="middle-layout-sec box-shadow">
    asdsad
</div>
<div class="right-layout-sec box-shadow">
    sadsda
</div>