.space-sec-a-scroll {
  overflow-y: auto;
  // height: calc(100vh - 167px);
}

.space-sec-b-scroll {
  overflow-y: auto;
  // height: calc(100vh - 236px);
}

.space-sec-c-scroll {
  overflow-y: auto;
  // height: calc(100vh - 163px);
}

//hidden scroll bar
.studio-menu-sec {
  overflow: hidden;
}

//hidden scroll bar
.photo-upload {
  overflow: hidden;
}
.photo-manage {
  overflow: hidden;
}
.music-upload {
  overflow: hidden;
}
.music-manage {
  overflow: hidden;
}

.video-upload {
  overflow: hidden;
}
.video-manage {
  overflow: hidden;
}

.podcast-upload {
  overflow: hidden;
}
.podcast-manage {
  overflow: hidden;
}


.studio-guidline {
  overflow: hidden;
}
.studio-home {
  overflow: hidden;
}

// custom scroll onlu for chrom

// .space-sec-a-scroll::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   border-radius: 10px;
//   background-color: var(--custom-scroll-background-color);
// }

// .space-sec-a-scroll::-webkit-scrollbar {
//   width: 10px;
//   background-color: var(--custom-scroll-background-color);
// }

// .space-sec-a-scroll::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   background-color: var(--custom-scroll-thumb-color);
// }
// .space-sec-b-scroll::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   border-radius: 10px;
//   background-color: var(--custom-scroll-background-color);
// }

// .space-sec-b-scroll::-webkit-scrollbar {
//   width: 10px;
//   background-color: var(--custom-scroll-background-color);
// }

// .space-sec-b-scroll::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   background-color: var(--custom-scroll-thumb-color);
// }

// .space-sec-c-scroll::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   border-radius: 10px;
//   background-color: var(--custom-scroll-background-color);
// }

// .space-sec-c-scroll::-webkit-scrollbar {
//   width: 10px;
//   background-color: var(--custom-scroll-background-color);
// }

// .space-sec-c-scroll::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   background-color: var(--custom-scroll-thumb-color);
// }
