<div class="note">
    <mat-card>
        <mat-card-content>
            <div class="card-header-action">
                <div class="top-lef-titel">
                    <span>10M Noted</span>
                </div>
                <div class="top-middle-titel">
                    <span>#VanGogh #StarryNight #Art</span>
                </div>
                <div class="top-right-titel">
                    <span>Note</span>
                    <button mat-icon-button>
                        <mat-icon>expand_more</mat-icon>
                    </button>
                </div>
            </div>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
            <img class="radius-border" mat-card-image src="../../../assets/images/noteImage.JPG"
                alt="Photo of a Shiba Inu">
            <like-stars></like-stars>
        </mat-card-content>
        <user-details-footer></user-details-footer>
    </mat-card>
</div>