<mat-toolbar class="top-header">
  <mat-toolbar-row>
    <button mat-raised-button class="mar-l-10" [routerLink]="['/space']">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-raised-button class="mar-r-6">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-raised-button>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
    <button mat-raised-button class="mar-r-6" [matMenuTriggerFor]="menuSpace">
      <mat-icon>public</mat-icon>
    </button>
    <div class="topSearch" #topSearchElement>
      <mat-form-field floatLabel="never">
        <mat-label>Type to search the web or tap the mic.. <mat-icon>mic</mat-icon>
        </mat-label>
        <input matInput placeholder="State" aria-label="State" (blur)="onTopSearchBlur()" [matAutocomplete]="auto"
          [formControl]="stateCtrl">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onTopSearchItemSelected($event.option.value)">
          <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
            <img class="example-option-img" aria-hidden [src]="state.flag" height="25">
            <span>{{state.name}}</span>
            <!--| <small>Population: {{state.population}}</small> -->
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <button mat-raised-button class="mar-r-6" [matMenuTriggerFor]="menuIncognito">
      <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <button mat-raised-button class="mar-r-6" [matMenuTriggerFor]="menuBrightness">
      <mat-icon class="rotate-135">brightness_3</mat-icon>
    </button>
    <button mat-raised-button class="mar-r-6" [matMenuTriggerFor]="menuAdd">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-raised-button class="mar-r-6" [matMenuTriggerFor]="menuBookmark">
      <mat-icon>turned_in_not</mat-icon>
    </button>
    <button mat-raised-button class="mar-r-6" [matMenuTriggerFor]="menuLogout">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar-row>

</mat-toolbar>


<mat-menu #menuBrightness="matMenu" class="custom-mat-panel">
  <div class="do-not-distrub ">
    <div class="example-button-row align-center">
      <mat-icon class="rotate-135">brightness_3</mat-icon>
      <mat-card-title>Do Not Distrub</mat-card-title>
    </div>
    <div class="example-button-row align-center">
      <div><span class="lbl-sm">When enabled, Calls and Notifications will be silenced.</span></div>
    </div>
    <div class="example-button-row">
      <div class="do-not-hover active"><a class="lbl-md active">For 1 Hour</a></div>
    </div>
    <div class="example-button-row">
      <div class="do-not-hover"><a class="lbl-md">Until End of the Day</a></div>
    </div>
    <div class="example-button-row">
      <div class="do-not-hover"><a class="lbl-md">Till Turned Off</a></div>
    </div>
  </div>
</mat-menu>

<mat-menu #menuAdd="matMenu" class="custom-mat-panel">
  <div class="do-not-distrub ">
    <div class="example-button-row align-center">
      <mat-icon>add</mat-icon>
      <mat-card-title>New Tab</mat-card-title>
    </div>
    <div class="example-button-row align-center">
      <div><span class="lbl-sm">Opens a New Tab for Web or App Search.</span></div>
    </div>
  </div>
</mat-menu>

<mat-menu #menuIncognito="matMenu" class="custom-mat-panel">
  <div class="do-not-distrub ">
    <div class="example-button-row align-center">
      <mat-icon>supervised_user_circle</mat-icon>
      <mat-card-title>Incognito On</mat-card-title>
    </div>
    <div class="example-button-row align-center">
      <div><span class="lbl-sm">You are now searching Securely and Privately.</span></div>
    </div>
  </div>
</mat-menu>

<mat-menu #menuBookmark="matMenu" class="custom-mat-panel">
  <div class="do-not-distrub ">
    <div class="example-button-row align-center">
      <mat-icon>turned_in_not</mat-icon>
      <mat-card-title>Bookmark</mat-card-title>
    </div>
    <div class="example-button-row align-center">
      <div><span class="lbl-sm">Shows all Bookmarked Content and Links.</span></div>
    </div>
  </div>
</mat-menu>

<mat-menu #menuLogout="matMenu" class="custom-mat-panel">
  <div class="do-not-distrub " (click)="$event.stopPropagation();">
    <div class="example-button-row align-center">
      <mat-icon>exit_to_app</mat-icon>
      <mat-card-title>Log Out</mat-card-title>
    </div>
    <div class="example-button-row align-center">
      <div><span class="lbl-sm">Log Out from this Device.</span></div>
    </div>
  </div>
</mat-menu>
<mat-menu #menuSpace="matMenu" class="home-mat-panel">
  <div class="do-not-distrub " (click)="$event.stopPropagation();">
    <div class="space-tab">
      <a href="javascript:void()" class="active">Region</a>
      <a href="javascript:void()">Time</a>
      <a href="javascript:void()">Filter</a>
    </div>
    <div class="example-button-row menu-search" #spaceSearchElement>
      <mat-form-field floatLabel="never">
        <mat-label>Type City or Country
        </mat-label>
        <mat-icon class="search-icon" matPrefix>search</mat-icon>
        <input matInput placeholder="Space" aria-label="Space" [matAutocomplete]="spaceAuto" [formControl]="spaceCtrl"
          (blur)="onSpaceSearchBlur()">
        <mat-autocomplete #spaceAuto="matAutocomplete" class="flagOption"
          (optionSelected)="onSpaceItemSelected($event.option.value)">
          <mat-option *ngFor="let space of filteredSpace | async" [value]="space.name">
            <img class="example-option-img" aria-hidden [src]="'../../../assets/images/flag/' + space.flag" height="20">
            <span class="option-span">{{space.name}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
</mat-menu>