<mat-toolbar class="top-header">
  <mat-toolbar-row>
    <button mat-raised-button class="mar-l-10 home" [routerLink]="['/space']">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-raised-button class="mar-r-6">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-raised-button>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
    <button mat-raised-button class="mar-r-6" [matMenuTriggerFor]="menuSpace">
      <mat-icon>public</mat-icon>
    </button>
    <div class="topSearch" #topSearchElement>
      <mat-form-field floatLabel="never">
        <mat-label>Type to search the web or tap the mic.. <mat-icon>mic</mat-icon>
        </mat-label>
        <input matInput placeholder="State" aria-label="State" (blur)="onTopSearchBlur()" [matAutocomplete]="auto"
          [formControl]="stateCtrl">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option disabled></mat-option>
          <div class="result-section">
            <div class="left-sec">
              <div class="container">
                <div class="top-hits">
                  <div class="title">TOP HITS</div>
                  <a href="javascript:void()">#Einstein</a>
                  <a href="javascript:void()">List of Einsteins Inventions</a>
                  <a href="javascript:void()">Inventions by Einstein</a>
                </div>
                <div class="people">
                  <div class="title">
                    <div class="title-text">PEOPLE (Contacts and Believers)</div>
                    <div class="result-content">10 Results <a href="javascript:void()"> (Show All)</a></div>
                  </div>
                  <div class="people-details">
                    <div class="profile">
                      <div class="picture">
                        <img class="img-pic" src="../../../assets/images/subscribers.png" alt="Photo of a Shiba Inu">
                      </div>
                      <div class="info">
                        <div class="info-title">Leonardo da Vinci<a href="javascript:void()">@Leo</a></div>
                        <div class="sub-title">Artist at University de France</div>
                        <div class="details"><a>Paris, France</a>2 days ago (6 Apr 2019, 11:50am)</div>
                      </div>
                    </div>
                    <div class="action">
                      <mat-icon>forum</mat-icon>
                      <mat-icon>call</mat-icon>
                      <mat-icon>videocam</mat-icon>
                    </div>
                  </div>
                  <div class="people-details">
                    <div class="profile">
                      <div class="picture">
                        <img class="img-pic" src="../../../assets/images/subscribers.png" alt="Photo of a Shiba Inu">
                      </div>
                      <div class="info">
                        <div class="info-title">Leonardo da Vinci<a href="javascript:void()">@Leo</a></div>
                        <div class="sub-title">Artist at University de France</div>
                        <div class="details"><a>Paris, France</a>2 days ago (6 Apr 2019, 11:50am)</div>
                      </div>
                    </div>
                    <div class="action">
                      <mat-icon>forum</mat-icon>
                      <mat-icon>call</mat-icon>
                      <mat-icon>videocam</mat-icon>
                    </div>
                  </div>
                  <div class="people-details">
                    <div class="profile">
                      <div class="picture">
                        <img class="img-pic" src="../../../assets/images/subscribers.png" alt="Photo of a Shiba Inu">
                      </div>
                      <div class="info">
                        <div class="info-title">Leonardo da Vinci<a href="javascript:void()">@Leo</a></div>
                        <div class="sub-title">Artist at University de France</div>
                        <div class="details"><a>Paris, France</a>2 days ago (6 Apr 2019, 11:50am)</div>
                      </div>
                    </div>
                    <div class="action">
                      <mat-icon>forum</mat-icon>
                      <mat-icon>call</mat-icon>
                      <mat-icon>videocam</mat-icon>
                    </div>
                  </div>
                </div>
                <div class="websites">
                  <div class="title">
                    <div class="title-text">WEBSITES</div>
                    <div class="result-content">10 Results <a href="javascript:void()"> (Show All)</a></div>
                  </div>
                  <a href="javascript:void()">https://en.wikipedia.org/wiki/Albert_Einstein</a>
                  <a href="javascript:void()">https://www.biography.com/scientist/albert-einstein</a>
                  <a href="javascript:void()">https://www.britannica.com/biography/Albert-Einstein</a>
                </div>
                <div class="articles">
                  <div class="title">
                    <div class="title-text">ARTICLES</div>
                    <div class="result-content">10 Results <a href="javascript:void()"> (Show All)</a></div>
                  </div>
                  <a href="javascript:void()">List of Einsteins Inventions</a>
                  <a href="javascript:void()">How Einstein Invented?</a>
                  <a href="javascript:void()">Secret of Albert Einsteins Inventions</a>
                </div>
                <div class="ask-poll">
                  <div class="title">
                    <div class="title-text">ASKS & POLLS</div>
                    <div class="result-content">10 Results <a href="javascript:void()"> (Show All)</a></div>
                  </div>
                  <a href="javascript:void()">What are Einstein’s best Invention?</a>
                  <a href="javascript:void()">Is there a movie about Einstein?</a>
                  <a href="javascript:void()">Vote: Einsteins best Invention?</a>
                </div>
              </div>
            </div>
            <div class="right-sec">
              <div class="right-container">
                <div class="photo">
                  <div class="title">
                    <div class="title-text">PHOTOS</div>
                    <div class="result-content">10 Results <a href="javascript:void()"> (Show All)</a></div>
                  </div>
                  <div class="media-files">
                    <div class="media">
                      <img mat-card-image src="../../../assets/images/media1.png" alt="Photo of a Shiba Inu">
                      <span>#Eisntein #lifestory #inventions</span>
                    </div>
                    <div class="media">
                      <img mat-card-image src="../../../assets/images/media1.png" alt="Photo of a Shiba Inu">
                      <span>#Eisntein #lifestory #inventions</span>
                    </div>
                    <div class="media">
                      <img mat-card-image src="../../../assets/images/media1.png" alt="Photo of a Shiba Inu">
                      <span>#Eisntein #lifestory #inventions</span>
                    </div>
                    <div class="media">
                      <img mat-card-image src="../../../assets/images/media1.png" alt="Photo of a Shiba Inu">
                      <span>#Eisntein #lifestory #inventions</span>
                    </div>
                  </div>
                </div>
                <div class="video">
                  <div class="title">
                    <div class="title-text">VIDEOS</div>
                    <div class="result-content">10 Results <a href="javascript:void()"> (Show All)</a></div>
                  </div>
                  <div class="media-files">
                    <div class="media">
                      <div class="raiting">
                        <div class="watched">20M Watched</div>
                        <div class="stars">
                          <mat-icon>star</mat-icon>
                          <mat-icon>star</mat-icon>
                          <mat-icon>star</mat-icon>
                          <mat-icon>star</mat-icon>
                          <mat-icon>star</mat-icon>
                        </div>
                      </div>
                      <div class="video-sec">
                        <img mat-card-image src="../../../assets/images/media1.png" alt="Photo of a Shiba Inu">
                      </div>
                      <div class="details">
                        <span class="video-title">The Young Einstein</span>
                        <a href="javascript:void()">#Eisntein #lifestory #inventions</a>
                      </div>
                    </div>
                    <div class="media">
                      <div class="raiting">
                        <div class="watched">20M Watched</div>
                        <div class="stars">
                          <mat-icon>star</mat-icon>
                          <mat-icon>star</mat-icon>
                          <mat-icon>star</mat-icon>
                          <mat-icon>star</mat-icon>
                          <mat-icon>star</mat-icon>
                        </div>
                      </div>
                      <div class="video-sec">
                        <img mat-card-image src="../../../assets/images/media1.png" alt="Photo of a Shiba Inu">
                      </div>
                      <div class="details">
                        <span class="video-title">The Young Einstein</span>
                        <a href="javascript:void()">#Eisntein #lifestory #inventions</a>
                      </div>
                    </div>
                    <div class="media">
                      <div class="raiting">
                        <div class="watched">20M Watched</div>
                        <div class="stars">
                          <mat-icon>star</mat-icon>
                          <mat-icon>star</mat-icon>
                          <mat-icon>star</mat-icon>
                          <mat-icon>star</mat-icon>
                          <mat-icon>star</mat-icon>
                        </div>
                      </div>
                      <div class="video-sec">
                        <img mat-card-image src="../../../assets/images/media1.png" alt="Photo of a Shiba Inu">
                      </div>
                      <div class="details">
                        <span class="video-title">The Young Einstein</span>
                        <a href="javascript:void()">#Eisntein #lifestory #inventions</a>
                      </div>
                    </div>
                    <div class="media">
                      <div class="raiting">
                        <div class="watched">20M Watched</div>
                        <div class="stars">
                          <mat-icon>star</mat-icon>
                          <mat-icon>star</mat-icon>
                          <mat-icon>star</mat-icon>
                          <mat-icon>star</mat-icon>
                          <mat-icon>star</mat-icon>
                        </div>
                      </div>
                      <div class="video-sec">
                        <img mat-card-image src="../../../assets/images/media1.png" alt="Photo of a Shiba Inu">
                      </div>
                      <div class="details">
                        <span class="video-title">The Young Einstein</span>
                        <a href="javascript:void()">#Eisntein #lifestory #inventions</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <button mat-raised-button class="mar-r-6" [matMenuTriggerFor]="menuIncognito">
      <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <button mat-raised-button class="mar-r-6" [matMenuTriggerFor]="menuBrightness">
      <mat-icon class="rotate-135">brightness_3</mat-icon>
    </button>
    <button mat-raised-button class="mar-r-6" [matMenuTriggerFor]="menuAdd">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-raised-button class="mar-r-6" [matMenuTriggerFor]="menuBookmark">
      <mat-icon>turned_in_not</mat-icon>
    </button>
    <button mat-raised-button class="mar-r-6" (click)="themeChange()">
      <mat-icon>brightness_4</mat-icon>
    </button>
    <button mat-raised-button class="mar-r-6" [matMenuTriggerFor]="menuLogout">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar-row>

</mat-toolbar>


<mat-menu #menuBrightness="matMenu" class="custom-mat-panel">
  <div class="do-not-distrub ">
    <div class="example-button-row align-center">
      <mat-icon class="rotate-135">brightness_3</mat-icon>
      <mat-card-title>Do Not Distrub</mat-card-title>
    </div>
    <div class="example-button-row align-center">
      <div><span class="lbl-sm">When enabled, Calls and Notifications will be silenced.</span></div>
    </div>
    <div class="example-button-row">
      <div class="do-not-hover active"><a class="lbl-md active">For 1 Hour</a></div>
    </div>
    <div class="example-button-row">
      <div class="do-not-hover"><a class="lbl-md">Until End of the Day</a></div>
    </div>
    <div class="example-button-row">
      <div class="do-not-hover"><a class="lbl-md">Till Turned Off</a></div>
    </div>
  </div>
</mat-menu>

<mat-menu #menuAdd="matMenu" class="custom-mat-panel">
  <div class="do-not-distrub ">
    <div class="example-button-row align-center">
      <mat-icon>add</mat-icon>
      <mat-card-title>New Tab</mat-card-title>
    </div>
    <div class="example-button-row align-center">
      <div><span class="lbl-sm">Opens a New Tab for Web or App Search.</span></div>
    </div>
  </div>
</mat-menu>

<mat-menu #menuIncognito="matMenu" class="custom-mat-panel">
  <div class="do-not-distrub ">
    <div class="example-button-row align-center">
      <mat-icon>supervised_user_circle</mat-icon>
      <mat-card-title>Incognito On</mat-card-title>
    </div>
    <div class="example-button-row align-center">
      <div><span class="lbl-sm">You are now searching Securely and Privately.</span></div>
    </div>
  </div>
</mat-menu>

<mat-menu #menuBookmark="matMenu" class="custom-mat-panel">
  <div class="do-not-distrub ">
    <div class="example-button-row align-center">
      <mat-icon>turned_in_not</mat-icon>
      <mat-card-title>Bookmark</mat-card-title>
    </div>
    <div class="example-button-row align-center">
      <div><span class="lbl-sm">Shows all Bookmarked Content and Links.</span></div>
    </div>
  </div>
</mat-menu>

<mat-menu #menuLogout="matMenu" class="custom-mat-panel">
  <div class="do-not-distrub " (click)="$event.stopPropagation();">
    <div class="example-button-row align-center">
      <mat-icon>exit_to_app</mat-icon>
      <mat-card-title>Log Out</mat-card-title>
    </div>
    <div class="example-button-row align-center">
      <div><span class="lbl-sm">Log Out from this Device.</span></div>
    </div>
  </div>
</mat-menu>
<mat-menu #menuSpace="matMenu" class="home-mat-panel">
  <div class="do-not-distrub " (click)="$event.stopPropagation();">
    <div class="space-tab">
      <a href="javascript:void()" class="active">Region</a>
      <a href="javascript:void()">Time</a>
      <a href="javascript:void()">Filter</a>
    </div>
    <div class="example-button-row menu-search" #spaceSearchElement>
      <mat-form-field floatLabel="never">
        <mat-label>Type City or Country
        </mat-label>
        <mat-icon class="search-icon" matPrefix>search</mat-icon>
        <input matInput placeholder="Space" aria-label="Space" [matAutocomplete]="spaceAuto" [formControl]="spaceCtrl"
          (blur)="onSpaceSearchBlur()">
        <mat-autocomplete #spaceAuto="matAutocomplete" class="flagOption"
          (optionSelected)="onSpaceItemSelected($event.option.value)">
          <mat-option *ngFor="let space of filteredSpace | async" [value]="space.name">
            <img class="example-option-img" aria-hidden [src]="'../../../assets/images/flag/' + space.flag" height="20">
            <span class="option-span">{{space.name}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
</mat-menu>