.mat-toolbar.top-header {
  background: var(--primary-color);
  border-bottom: 1px solid var(--border-color);
  position: fixed;
  height: 83px;
  .mat-toolbar-row {
    padding: 0;
    height: 83px;
  }
  .home {
    margin: 0px 15px 0px 15px !important;
  }
  .mat-raised-button {
    padding: 0;
    min-width: 30px;
    height: 30px;
    margin: 5px;
    line-height: 0px;
    border-radius: 5px;
    box-shadow: var(--border-color) 0px 3px 6px;
  }
}

.home-mat-panel {
  overflow: hidden !important;
  max-width: none !important;
  margin-top: 8px;
  border-radius: 10px !important;
  width: 400px;
  // height: 400px;
}

.do-not-distrub {
  padding: 10px;
  /* search css start*/
  .mat-primary {
    border-top: none;
  }
  .mat-form-field-wrapper {
    height: 25px;
    line-height: 17px;
    margin-top: -16px;
    margin-left: 10px;
    text-align: center;
  }
  .mat-form-field {
    width: 100%;
    border-radius: 20px;
    box-shadow: var(--border-color) 0px 3px 6px;
  }
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    bottom: 0;
    display: none;
  }
  input.mat-input-element {
    width: 90%;
  }

  /* search css end*/

  .mat-card-title {
    font-size: 15px;
    color: var(--fore-color);
    text-align: center;
    padding-left: 10px;
  }
  .material-icons {
    font-size: 15px;
  }
  .mat-icon {
    height: 15px;
    width: 10px;
    margin-top: 3px;
    margin-left: -53px;
    position: absolute;
    font-weight: bold;
  }
  .lbl-sm {
    font-size: 10px;
    color: var(--subtile-color);
  }
  .lbl-md {
    font-size: 12px;
    color: var(--subtile-color);
  }
  .align-center {
    text-align: center;
  }
  .do-not-hover {
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    &:hover {
      background: var(--rgba-inactive-background);
      color: var(--text-active-color);
    }
    &.active {
      background: var(--rgba-inactive-background);
      color: var(--text-active-color);
    }
  }

  .space-tab {
    overflow: hidden;
    background-color: var(--primary-color);
    padding-bottom: 20px;
  }

  .space-tab a {
    float: left;
    font-size: 16px;
    color: var(--subtile-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 24%;
    &:hover,
    &.active {
      background-color: var(--rgba-inactive-background);
      color: var(--text-active-color);
    }
  }
}
.search-icon {
  margin-top: -10px !important;
  font-size: 15px;
  color: var(--fore-color);
}
.custom-mat-panel {
  overflow: hidden !important;
  max-width: 160px !important;
  margin-top: 8px;
  border-radius: 10px !important;
}

.rotate-135 {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.option-span {
  margin-top: -5px;
  margin-left: 10px;
  position: absolute;
}

.borderSet {
  border-radius: 20px 20px 0px 0px !important;
}
.borderReset {
  border-radius: 20px !important;
}

#mat-autocomplete-1 {
  width: 409px !important;
  margin-top: 1px;
  margin-left: -10px;
  max-width: none !important;
  max-height: none !important;
}
.topSearch {
  width: calc(100% - 400px);
  overflow: hidden;
  height: 40px;
  // padding: 0 15px;
  border: 1px solid var(--topsearch-border-color);
  margin: 0 20px;
  font-size: 16px;
  border-radius: 20px;
  box-shadow: var(--border-color) 0px 3px 6px;
  .mat-form-field {
    width: 100%;
    top: -12px;
    text-align: center;
  }
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    bottom: 0;
    display: none;
  }
  .mat-form-field-label {
    color: var(--label-color) !important;
  }
  .mat-focused .mat-form-field-label {
    color: var(--label-color);
  }
}
.mat-autocomplete-panel {
  border-radius: 0px 0px 20px 20px !important;
  margin-top: 6px;
  border: 1px solid #3597ec !important;
  border-top: none !important;
  margin-left: -1px;
  margin-right: -1px;
  box-shadow: none !important;
  height: auto !important;
  max-height: none !important;
}
.mat-autocomplete-panel.mat-autocomplete-visible {
  visibility: visible !important;
}
.mat-option {
  height: auto !important;
  user-select: none !important;
  &:hover {
    background: #fff !important;
  }
}
.result-section {
  display: inline-flex;
  width: 100%;
  border-top: 1px solid #707070;
  margin-top: 10px;
  .left-sec {
    width: 50%;
    border-right: 2px solid #d5d5d6;
    .container {
      margin: 20px -20px 0px 20px;
      .top-hits {
        display: inline-grid;
        padding-bottom: 20px;
        width: 96%;
        .title {
          background: #d5d5d6;
          font-size: 20px;
          color: #707070;
          padding: 3px 5px 3px 15px;
        }
        a {
          text-decoration: none;
          cursor: pointer;
          font-size: 20px;
          color: #3597ec;
        }
      }
      .people {
        display: inline-grid;
        padding-bottom: 20px;
        width: 96%;
        .title {
          background: #d5d5d6;
          display: inline-flex;
          justify-content: space-between;
          padding: 3px 5px 3px 15px;
          .title-text {
            font-size: 20px;
            color: #707070;
          }
          .result-content {
            font-size: 15px;
            color: #707070;
            a {
              text-decoration: none;
              cursor: pointer;
              color: #3597ec;
            }
          }
        }
        .people-details {
          position: relative;
          display: inline-flex;
          width: 100%;
          .profile {
            width: 50%;
            display: inline-flex;
            .picture {
              margin: 5px 9px 0px 0px;
              .img-pic {
                height: 50px;
                width: 50px;
              }
            }
            .info {
              display: table-row;
              .info-title {
                font-size: 20px;
                color: #4d4d4d;
                font-weight: bold;
                a {
                  text-decoration: none;
                  color: #3597ec;
                  font-size: 15px;
                  margin-left: 5px;
                }
              }
              .sub-title {
                font-size: 15px;
                color: #818181;
              }
              .details {
                font-size: 10px;
                color: #818181;
                a {
                  font-size: 12px;
                  color: #3597ec;
                  margin-right: 5px;
                }
              }
            }
          }
          .action {
            width: 50%;
            text-align: right;
            margin: 25px 50px 0px 0px;
            .material-icons {
              font-size: 15px;
              color: #6a6a6a;
              height: 15px;
              width: 15px;
              margin-left: 15px;
            }
          }
        }
      }
      .websites,
      .articles,
      .ask-poll {
        display: inline-grid;
        padding-bottom: 20px;
        width: 96%;
        .title {
          background: #d5d5d6;
          display: inline-flex;
          justify-content: space-between;
          padding: 3px 5px 3px 15px;
          .title-text {
            font-size: 20px;
            color: #707070;
          }
          .result-content {
            font-size: 15px;
            color: #707070;
            a {
              text-decoration: none;
              cursor: pointer;
              font-size: 15px;
              color: #3597ec;
            }
          }
        }
        a {
          text-decoration: none;
          cursor: pointer;
          font-size: 20px;
          color: #707070;
        }
      }
    }
  }
  .right-sec {
    width: 50%;
    .right-container {
      margin: 20px;
      .photo {
        display: inline-grid;
        padding-bottom: 20px;
        width: 100%;
        .title {
          background: #d5d5d6;
          display: inline-flex;
          justify-content: space-between;
          padding: 3px 5px 3px 15px;
          margin-bottom: 7px;
          .title-text {
            font-size: 20px;
            color: #707070;
          }
          .result-content {
            font-size: 15px;
            color: #707070;
            a {
              text-decoration: none;
              cursor: pointer;
              color: #3597ec;
            }
          }
        }
        .media-files {
          display: inline-flex;
          justify-content: space-between;
          .media {
            padding: 8px;
            height: 159px;
            width: 147px;
            border-radius: 5px;
            border: 1px solid #dedada;
            position: relative;
            img {
              width: 150px;
              height: 150px;
              border-radius: 5px;
              margin: 0px;
            }
            span {
              font-size: 10px;
              color: #3597ec;
              margin-top: -3px;
              position: absolute;
              display: flex;
            }
          }
        }
      }
    }
  }
}
