 /* .app-container {
     display: flex;
     flex-direction: column;
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
 }

 .app-container-drawer {
     display: flex;
     flex-direction: column;
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
 }

 .app-is-mobile .app-toolbar {
     position: fixed;
     z-index: 2;
 } */

 /* 
 h1.app-app-name {
     margin-left: 8px;
 }

 .app-sidenav-container {
     flex: 1;
 }

 .app-is-mobile .app-sidenav-container {
     flex: 1 0 auto;
 }

 .app-sidenav-content {
     display: flex;
     height: 100%;
     align-items: center;
     justify-content: center;
 } */

 /* .mat-drower-ul, li, span {
     font-size: 10px;
     margin-left: 5px;
     text-align: center;
 }  */

 .padding10 {
     margin: 16px;
 }

 /* 
 .mat-raised-button {
     border-radius: 11px !important;
     font-size: 11px !important;
 } */

 .mat-raised-button {
     font-size: 11px;
 }

 .rotate-90 {
     -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
     -ms-transform: rotate(90deg);
     -o-transform: rotate(90deg);
     transform: rotate(90deg);
 }

 /* .container {
     padding-top: 50px;
     padding-bottom: 10px;
     color: #405065;
 }

 .search-hero {
     max-width: 500px;
     width: 100%;
 }

 .form-control {
     width: 90%;
     border: 0px solid;
     text-align: center;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     background-color: #fafdff;
     height: 28px;
     box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
 }

 .form-control::placeholder {
     font-family: FontAwesome;
 } */

 .icon-round-boarder {
     border: 1px solid;
     border-bottom-left-radius: 7px;
     border-bottom-right-radius: 7px;
     border-top-left-radius: 7px;
     border-top-right-radius: 7px;
     box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
 }

 .hash-boarder {
     margin-left: -22px;
     margin-top: 2px;
     font-size: 17px;
     position: absolute;
 }

 .app-form {
     /* min-width: 150px;
     max-width: 500px; */
     width: 100%;
 }

 .app-full-width {
     width: 100%;
     border: 0px solid;
 }

 .btn-submit {
     color: #fff;
     background-color: #2799fb;
     border-radius: 7px !important;
     min-width: 150px;
 }

 .login {
     /* float: left; */
     width: 100%;
     text-align: center;
     padding-top: 10px;
 }

 .column {
     float: left;
     width: 50%;
 }

 .column-25 {
     float: left;
     width: 25%;
 }

 .column-12 {
     float: left;
     width: 12%;
 }

 .row:after {
     content: "";
     display: table;
     clear: both;
 }

 .lbl-msg {
     font-size: 10px;
     text-align: center;
     color: #c5c5c5;
 }

 .lbl-header {
     font-size: 20px;
     text-align: center;
     color: #c5c5c5;
 }

 .material-icons-custom {
     font-size: 35px !important;
 }

 /*new css */

 .main-container {
     position: fixed;
     margin-top: 65px;
 }

 .side-nav-container {
     /* display: inline-block; */
     /* width: 4%; */
     height: 91vh;
     /* border: 1px solid rgba(0, 0, 0, .2); */
     background: #fff;
     float: left;
     box-shadow: 0 2px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
 }

 .side-nav-padding {
     padding: 0% !important;
 }

 .material-icons-30 {
     font-size: 30px !important;
 }

 .mat-primary {
     background: #F7F7F7!important;
     color: #000 !important;
     border-top: 1px solid rgba(0, 0, 0, .12);
 }

 .section-a-y {
     overflow-y: auto;
     height: 75vh;
 }
 .section-b-y {
    overflow-y: auto;
    height: 77vh;
}
.section-c-y {
    overflow-y: auto;
    height: 80vh;
}