 .lbl-msg {
     font-size: 13px;
     text-align: center;
     color: #B9B9B9;
 }

 /*new css */

 .main-container {
     position: fixed;
     margin-top: 65px;
     width: 100%;
 }

 .side-nav-container {
     height: 91vh;
     background: #fff;
     float: left;
     box-shadow: 0 2px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
 }

 .side-nav-padding {
     padding: 0% !important;
 }

 .material-icons-30 {
     font-size: 30px !important;
 }

 .mat-primary {
     background: #F7F7F7!important;
     color: #000 !important;
     border-top: 1px solid rgba(0, 0, 0, .12);
 }

 .section-a-y {
     overflow-y: auto;
     padding: 5px;
     height: 77vh;
     margin-right: -20px;
 }

 .section-b-y {
     overflow-y: auto;
     padding: 5px;
     height: 76vh;
     margin-right: -20px;
 }

 .section-c-y {
     overflow-y: auto;
     padding: 5px;
     height: 78vh;
     margin-right: -20px;
 }