 .lbl-msg {
     font-size: 13px;
     text-align: center;
     color: var(--messege-color);
 }

 /*new css */

 .main-container {
     position: fixed;
     /* position: absolute; */
     margin-top: 83px;
     width: 1920px;
     z-index: -1;
 }

 .side-nav-padding {
     padding: 0% !important;
 }

 .material-icons-30 {
     font-size: 30px !important;
 }

 .mat-primary {
     /* background: #F7F7F7!important; */
     color: var(--secondary-color) !important;
     border-top: 1px solid var(--box-sadow-3);
 }