<div class="today-story">
    <social-menu></social-menu>
    <div class="today-story-content">
        <div class="today-story-post">
            <mat-form-field floatLabel="never">
                <mat-label>What are you thinking toay?</mat-label>
                <input type="search" matInput>
                <mat-icon matSuffix>add_a_photo</mat-icon>
                <mat-icon matSuffix class="video-icon-custom">video_call</mat-icon>
            </mat-form-field>
        </div>
        <div class="today-story-post-content">
            <mat-card>
                <mat-card-content>
                    <div class="card-header-action">
                        <button mat-icon-button>
                            <mat-icon>close</mat-icon>
                        </button>
                        <button mat-raised-button class="custom-button-round-30">25K Creations</button>
                        <button mat-icon-button>
                            <mat-icon>expand_more</mat-icon>
                        </button>
                    </div>

                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Photo of a Shiba Inu">
                    <div>
                        <a>@Ghandi</a>,
                        <a>#GhandhiGotIndependence</a>,
                        <a>#GhandiDidIt</a>
                    </div>
                    <div class="flex-display">
                        <mat-icon>place</mat-icon> <span class="mar-t-b-auto">India, London, South Africa</span>
                    </div>
                </mat-card-content>
                <mat-card-header>
                    <div mat-card-avatar>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                            alt="Photo of a Shiba Inu">
                    </div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle><a>@Leo</a></mat-card-subtitle>
                    <mat-card-subtitle class="small-text-subtitle">2days ago [6 Apr 2019 11 50 am]</mat-card-subtitle>
                    <div class="app-flex-filler"></div>
                </mat-card-header>
            </mat-card>
            <mat-card class="mat-card-with-bg"
                [ngStyle]="{background: 'url(https://material.angular.io/assets/img/examples/shiba2.jpg)'}">
                <mat-card-content>
                    <div class="card-header-action">
                        <div class="app-flex-filler"></div>
                        <button mat-stroked-button>Story</button>
                        <button mat-icon-button>
                            <mat-icon>share</mat-icon>
                        </button>
                    </div>
                </mat-card-content>
                <mat-card-header>
                    <div mat-card-avatar>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                            alt="Photo of a Shiba Inu">
                    </div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle><a>@Leo</a></mat-card-subtitle>
                    <mat-card-subtitle class="small-text-subtitle">2days ago [6 Apr 2019 11 50 am]</mat-card-subtitle>
                    <div class="app-flex-filler"></div>
                </mat-card-header>
            </mat-card>
        </div>
    </div>

</div>