<div class="vedio-sec vertical-post">
    <carousel>
        <ng-container>
            <ng-container *carouselItem>
                <div class="item">
                    <vedio></vedio>
                </div>
            </ng-container>
            <ng-container *carouselItem>
                <div class="item">
                    <vedio></vedio>
                </div>
            </ng-container>
            <ng-container *carouselItem>
                <div class="item">
                    <vedio></vedio>
                </div>
            </ng-container>
        </ng-container>
    </carousel>
</div>
<div class="vedio-sec vertical-post">
    <carousel>
        <ng-container>
            <ng-container *carouselItem>
                <div class="item">
                    <music></music>
                </div>
            </ng-container>
            <ng-container *carouselItem>
                <div class="item">
                    <music></music>
                </div>
            </ng-container>
        </ng-container>
    </carousel>
</div>

<div class="vedio-sec vertical-post">
    <carousel>
        <ng-container>
            <ng-container *carouselItem>
                <div class="item">
                    <live></live>
                </div>
            </ng-container>
            <ng-container *carouselItem>
                <div class="item">
                    <live></live>
                </div>
            </ng-container>
            <ng-container *carouselItem>
                <div class="item">
                    <live></live>
                </div>
            </ng-container>
            <ng-container *carouselItem>
                <div class="item">
                    <live></live>
                </div>
            </ng-container>
        </ng-container>
    </carousel>

</div>
<div class="vedio-sec vertical-post">
    <carousel>
        <ng-container>
            <ng-container *carouselItem>
                <div class="item">
                    <postcast></postcast>
                </div>
            </ng-container>
            <ng-container *carouselItem>
                <div class="item">
                    <postcast></postcast>
                </div>
            </ng-container>
            <ng-container *carouselItem>
                <div class="item">
                    <postcast></postcast>
                </div>
            </ng-container>
            <ng-container *carouselItem>
                <div class="item">
                    <postcast></postcast>
                </div>
            </ng-container>
            <ng-container *carouselItem>
                <div class="item">
                    <postcast></postcast>
                </div>
            </ng-container>
        </ng-container>
    </carousel>
</div>