.vedio-sec.vertical-post {
  display: flex;
  justify-content: space-between;
  .mat-card {
    width: calc(50% - 37px);
  }
}
.vedio-sec vedio, .vedio-sec postcast, .vedio-sec live, .vedio-sec music {
  padding: 5px;
}
