<!-- <h1 class="example-app-name">Responsive App</h1> -->
<div class="header-sec1">
    <div class="header-col1">
        <div class="header-sub-col1">
            <div class="header-prof-col1">
                <i class="material-icons material-icons-custom">panorama_fish_eye</i>
                <span class="hash-boarder">#</span>
            </div>
            <div class="header-prof-col2">
                <h3 class="header-prof-h3">TheName</h3>
            </div>
        </div>
        <div class="header-sub-col2">
            <i class="icon-round-boarder material-icons header-sub-col2-icon">edit</i>
            <span class="edit-bottom-text">Create Your Thought</span>
        </div>
    </div>
    <div class="header-col2">
        <div class="search-hero">
            <input class="form-control" type="text" name="search" placeholder="&#61442; Search">
        </div>
    </div>
</div>

<div class="header-sec2">
    <application-menu></application-menu>
</div>