<div class="studio-home">
    <div class="home-header">
        <span class="title">Welcome to Studio!</span><br>
        <span class="sub-title">Start creating & publishing your Content.</span>
    </div>
    <div class="home space-sec-b-scroll" [style.height.px]="screenHeight - 185">
        <div class="quick-link">
            <div class="links">
                <div class="image">
                    <img mat-card-image src="../../../assets/images/welcm10.png" alt="Photo of a Shiba Inu">
                </div>
                <div class="content">
                    <span>Reach the Audience of your Choice using a Note.</span>
                </div>
            </div>
            <div class="links">
                <div class="image">
                    <img mat-card-image src="../../../assets/images/welcm9.png" alt="Photo of a Shiba Inu">
                </div>
                <div class="content">
                    <span>What are you upto today? Start sharing your stories.</span>
                </div>
            </div>
        </div>
        <div class="quick-link">
            <div class="links">
                <div class="image">
                    <img mat-card-image src="../../../assets/images/welcm8.png" alt="Photo of a Shiba Inu">
                </div>
                <div class="content">
                    <span>Share your Clicks with the Advanced Custom Audience.</span>
                </div>
            </div>
            <div class="links">
                <div class="image">
                    <img mat-card-image src="../../../assets/images/welcm7.png" alt="Photo of a Shiba Inu">
                </div>
                <div class="content">
                    <span>Let People Groove to your Music. Sing to the World.</span>
                </div>
            </div>
        </div>
        <div class="quick-link">
            <div class="links">
                <div class="image">
                    <img mat-card-image src="../../../assets/images/welcm6.png" alt="Photo of a Shiba Inu">
                </div>
                <div class="content">
                    <span>Bring your Articles to Life. Start Publishing your Words.</span>
                </div>
            </div>
            <div class="links">
                <div class="image">
                    <img mat-card-image src="../../../assets/images/welcm5.png" alt="Photo of a Shiba Inu">
                </div>
                <div class="content">
                    <span>Upload your Video. Share them with the World or keep them private. </span>
                </div>
            </div>
        </div>
        <div class="quick-link">
            <div class="links">
                <div class="image">
                    <img mat-card-image src="../../../assets/images/welcm4.png" alt="Photo of a Shiba Inu">
                </div>
                <div class="content">
                    <span>Confused? Run a Poll from the Audience of your Choice.</span>
                </div>
            </div>
            <div class="links">
                <div class="image">
                    <img mat-card-image src="../../../assets/images/welcm3.png" alt="Photo of a Shiba Inu">
                </div>
                <div class="content">
                    <span>Upload, Host and Launch your Podcasts for Global Audience. </span>
                </div>
            </div>
        </div>
        <div class="quick-link">
            <div class="links">
                <div class="image">
                    <img mat-card-image src="../../../assets/images/welcm2.png" alt="Photo of a Shiba Inu">
                </div>
                <div class="content">
                    <span>Find People to Work. Post a Job Opening or tasks to the interested Audience.</span>
                </div>
            </div>
            <div class="links">
                <div class="image">
                    <img mat-card-image src="../../../assets/images/welcm1.png" alt="Photo of a Shiba Inu">
                </div>
                <div class="content">
                    <span>Need Answers? Just Ask. Post a Question and reach the right people. </span>
                </div>
            </div>
        </div>
    </div>
</div>