<div class="user-sec">
    <mat-card>
        <mat-card-title>Sign In or Sign Up</mat-card-title>
        <form>
            <div class="login">
                <div class="sec-left">
                    <mat-form-field>
                        <mat-label></mat-label>
                        <select matNativeControl required>
                            <option value="91">91</option>
                        </select>
                    </mat-form-field>
                </div>
                <div class="sec-right">
                    <mat-form-field>
                        <input matInput type="number" placeholder="Mobile Phone Number" value="">
                    </mat-form-field>
                </div>
            </div>
            <div class="lbl-sign">
                <mat-label class="lbl-msg">Enter your Mobile Phone Number to Sign Up or Sign In.</mat-label>
            </div>
            <div class="button-sec">
                <button mat-raised-button class="btn-submit">Verify</button>
            </div>
            <div class="lbl-otp">
                <mat-label class="lbl-msg">A verification code will be sent to the Mobile Phone Number.
                </mat-label>
            </div>
        </form>
    </mat-card>
</div>