<div class="card-first3">
        <mat-card>
            <mat-card class="padding10" style="height:250px;">
                <mat-card-title class="lbl-header">Sign In or Sign Up</mat-card-title>
                <form class="app-form">
                    <!-- <mat-form-field class="example-full-width">
                <input matInput type="search" placeholder="Favorite food" value="Sushi">
              </mat-form-field> -->
                    <div class="login">
                        <div style="float:left;width:13%;">
                            <mat-form-field class="app-full-width">
                                <mat-label></mat-label>
                                <select matNativeControl required>
                                    <option value="91">91</option>
                                </select>
                            </mat-form-field>
                        </div>
                        <div style="float:right;width:85%;">
                            <mat-form-field class="app-full-width">
                                <input matInput type="number" placeholder="Mobile Phone Number" value="">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="login">
                        <mat-label class="lbl-msg">Enter your mobile phone number to Sign In or Sign Up</mat-label>
                    </div>
                    <div class="login">
                        <button mat-raised-button class="btn-submit">Verify</button>
                    </div>
                    <div class="login">
                        <mat-label class="lbl-msg">A verification code will be sent to verify the mobile phone number
                        </mat-label>
                    </div>
                </form>
            </mat-card>
            <mat-card class="padding10" style="height:200px">
            </mat-card>
        </mat-card>
    </div>