.card-third1 {
    width: 98%;
    padding: 10px;
    position: absolute;
}

.card-third-vedio-frame {
    width: 43%;
    float: left;
    /* border: 1px solid; */
    border-radius: 4px;
    padding: 4px;
    box-shadow: var(--border-color) 0px 3px 6px;
}

.summary label {
    font-size: 13px;
    font-weight: 600;
    color: #605e5e;
}

.summary p {
    font-size: 12px;
    font-weight: 600;
    color: #938f8f;
    margin-top: 3px;
}

.summary {
    padding-left: 10px;
}

.flipped-icon {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

.media-align-right {
    text-align: right;
}

.media-align-center {
    text-align: center;
}

.card-third .mat-raised-button {
    line-height: 22px !important;
    border-radius: 4px !important;
}

.padding10 .mat-button-ripple {
    border-radius: 10px !important;
}

.row-padding-top {
    padding-top: 10px;
}

.music-menu-a {
    font-size: 12px;
    cursor: pointer;
    color: #1b90ec;
}