<div class="music-upload">
    <div class="music-header">
        <div class="music-button" *ngIf="mediaFileList.length !== 0">
            <button mat-raised-button> <i class="material-icons">access_time</i>Schedule</button>
            <div class="publish-time">
                <span class="lbl-publish">Publish Time:</span>
                <span>Today</span>
                <button mat-icon-button>
                    <mat-icon>expand_more</mat-icon>
                </button>
            </div>
            <button mat-raised-button>Save</button>
            <button mat-raised-button>Publish</button>
        </div>
        <div class="music-title" *ngIf="mediaFileList.length === 0">
            <span>Start Uploading and Publishing your Music with the World</span>
        </div>
    </div>
    <div class="music-secion space-sec-b-scroll" [style.height.px]="screenHeight - 236">
        <input type='file' #fileEvent (change)="onSelectFile($event)" multiple style="display:none">
        <div class="music" appDragDrop (onFileDropped)="onFileDropped($event)">
            <audio-player [hidden]="lastMusic === null"></audio-player>
            <div class="drag-drop" *ngIf="lastMusic === null">
                <div>
                    <i class="material-icons" (click)="addMore()">audiotrack</i>
                </div>
                <div>
                    <label>
                        Upload or Drag & Drop your Music Files
                    </label>
                </div>
            </div>
        </div>
        <div class="music-preview" *ngIf="lastMusic !== null">
            <div class="left">
                <a href="javascript:void()">File Successfully uploaded.</a>
            </div>
            <div class="right">
                <a href="javascript:void()" (click)="onRemoveFile(0)">Delete</a>
            </div>
        </div>
        <div class="content display-inline">
            <fieldset>
                <legend>Music URL</legend>
            </fieldset>
            <fieldset>
                <legend>File Name</legend>
            </fieldset>
        </div>
        <div class="content">
            <fieldset>
                <legend>+ Add Hashtags</legend>
            </fieldset>
        </div>

        <div class="content display-inline">
            <fieldset>
                <legend>Title</legend>
            </fieldset>
            <fieldset>
                <legend>Music Playlist</legend>
            </fieldset>
        </div>
        <div class="content display-inline">
            <fieldset>
                <legend>Artist Name</legend>
            </fieldset>
            <fieldset>
                <legend>Typle</legend>
            </fieldset>
        </div>
        <div class="content">
            <fieldset>
                <legend>Description</legend>
            </fieldset>
        </div>
        <div class="content display-inline">
            <fieldset>
                <legend>Genre</legend>
            </fieldset>
            <fieldset>
                <legend>Language</legend>
            </fieldset>
        </div>
        <div class="content">
            <fieldset>
                <legend>Writers</legend>
            </fieldset>
        </div>
    </div>
</div>