.custom-nav-list-social {
  padding-bottom: 10px;
  .mat-nav-list {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    .mat-list-item:hover {
      background: none !important;
    }
    a.mat-list-item {
      border-bottom: 2px solid var(--primary-color);
      height: 22px;
      &.active {
        color: var(--text-active-color);
        border-bottom: 4px solid var(--text-active-color);
        .mat-list-item-content {
          color: var(--text-active-color);
        }
      }
      &:hover {
        color: var(--text-active-color);
        border-bottom: 4px solid var(--text-active-color);
        .mat-list-item-content {
          color: var(--text-active-color);
        }
      }
      .mat-list-item-content {
        padding: 0 0px;
        justify-content: center;
        color: var(--title-color);
        font-size: 18px;
      }
    }
  }
  .mat-list-base {
    padding-top: 5px !important;
  }
}
.custom-nav-list-social-header {
  .mat-nav-list {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    a.mat-list-item {
      // border-bottom: 2px solid #fff;
      height: 46px;
      &.active {
        color: var(--text-active-color);
        background: var(--rgba-inactive-background);
        .mat-list-item-content {
          color: var(--text-active-color);
        }
      }
      &:hover {
        background: var(--rgba-inactive-background);
        .mat-list-item-content {
          color: var(--text-active-color);
        }
      }
      .mat-list-item-content {
        padding: 0 0px;
        justify-content: center;
        color: var(--fore-color);
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
  .mat-list-base {
    padding-top: 0px !important;
  }
}
