<div class="photo-manage">
    <div class="manage-header">
        <mat-nav-list>
            <a mat-list-item class="active"><i class="material-icons">group_add</i> Audience</a>
            <a mat-list-item><i class="material-icons">bubble_chart</i> Editor</a>
            <a mat-list-item><i class="material-icons">cloud</i> Cloud</a>
            <a mat-list-item><i class="material-icons">assignment_turned_in</i> Guidlines</a>
        </mat-nav-list>
    </div>
    <div class="manage-section">
        <p>
            Content Audience allows you to select your desired Audience to target your Content to increase the
            reachability of your Content.
        </p>
    </div>
</div>