<div class="thought">
    <mat-card>
        <mat-card-content>
            <div class="card-header-action">
                <div class="top-lef-titel">
                    <span>10M Noted</span>
                </div>
                <!-- <div class="top-middle-titel">
                    <span>#VanGogh #StarryNight #Art</span>
                </div> -->
                <div class="top-right-titel">
                    <span>Thought</span>
                    <button mat-icon-button>
                        <mat-icon>expand_more</mat-icon>
                    </button>
                </div>
            </div>
            <p>
                “The three great essentials to achieve anything worth while are: Hard Work, Stick-to-itiveness, and
                Common sense.”
            </p>
            <div class="card-content-footer-action">
                <span>
                    <mat-icon>alternate_email</mat-icon><span>10M</span>
                </span>
                <span>
                    <mat-icon>chat_bubble_outline</mat-icon><span>10M</span>
                </span>
                <span>
                    <mat-icon>favorite_border</mat-icon><span>100K</span>
                </span>
                <span>
                    <mat-icon>share</mat-icon><span>2000</span>
                </span>
                <span class="ratting">
                    <span class="mat-star">5</span>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <span class="rating-comment">12M Ratings (2019)</span>
                </span>
                <!-- <button mat-button>
                    <mat-icon>alternate_email</mat-icon><span>10M</span>
                </button>
                <button mat-button>
                    <mat-icon>chat_bubble_outline</mat-icon><span>10M</span>
                </button>
                <button mat-button>
                    <mat-icon>favorite_border</mat-icon><span>100K</span>
                </button>
                <button mat-button>
                    <mat-icon>share</mat-icon><span>2000</span>
                </button>
                <button mat-button class="ratting">
                    <span class="mat-star">5</span>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <span class="rating-comment">12M Ratings (2019)</span>
                </button> -->
            </div>
        </mat-card-content>
        <user-details-footer></user-details-footer>
    </mat-card>
</div>