<div class="thought">
    <mat-card>
        <mat-card-content>
            <div class="card-header-action">
                <div class="top-lef-titel">
                    <span>10M Noted</span>
                </div>
                <!-- <div class="top-middle-titel">
                    <span>#VanGogh #StarryNight #Art</span>
                </div> -->
                <div class="top-right-titel">
                    <span>Thought</span>
                    <button mat-icon-button>
                        <mat-icon>expand_more</mat-icon>
                    </button>
                </div>
            </div>
            <p>
                “The three great essentials to achieve anything worth while are: Hard Work, Stick-to-itiveness, and
                Common sense.”
            </p>
            <like-stars></like-stars>
        </mat-card-content>
        <user-details-footer></user-details-footer>
    </mat-card>
</div>