<div class="custom-nav-list-social-header">
    <mat-nav-list>
        <a mat-list-item class="active"> Treanding</a>
        <a mat-list-item> Contacts</a>
        <a mat-list-item> Believers</a>
    </mat-nav-list>

</div>
<div class="custom-nav-list-social">
    <mat-nav-list>
        <a mat-list-item class="active"> All</a>
        <a mat-list-item> Stories</a>
        <a mat-list-item> News</a>
        <a mat-list-item> Sports</a>
        <a mat-list-item> Foods</a>
        <a mat-list-item> More</a>
    </mat-nav-list>
</div>