<!-- <ul class="social-menu">
    <li>
        <a mat-raised-button routerLink=".">All</a>
    </li>
    <li>
        <a mat-raised-button routerLink=".">Website</a>
    </li>
    <li>
        <a mat-raised-button routerLink=".">AppSites</a>
    </li>
    <li>
        <a mat-raised-button routerLink=".">Notes</a>
    </li>
    <li>
        <a mat-raised-button routerLink=".">Clicks</a>
    </li>
    <li>
        <a mat-raised-button routerLink=".">Articles</a>
    </li>
    <li>
        <a mat-raised-button routerLink=".">Police</a>
    </li>
</ul> -->
<div class="custom-nav-list">
    <mat-nav-list>
        <a mat-list-item class="active"> All</a>
        <a mat-list-item> Stories</a>
        <a mat-list-item> Trending</a>
        <a mat-list-item> Contacts</a>
        <!-- <a mat-list-item> Believers</a> -->
    </mat-nav-list>

</div>