.music-player {
  margin: 0px;
  .player {
    margin: 0px;
    .canvas {
      background: #c6c0c0;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-position: center;
      background-size: cover;
      background-repeat: repeat;
      .canvas-play-pause {
        position: relative;
        left: -50%;
        float: left;
        margin-top: 13%;
        .material-icons {
          font-size: 75px;
          color: #95989a;
          position: absolute;
          cursor: pointer;
          &:hover {
            color: #fff;
          }
        }
      }
    }
    .seek {
      height: 15px;
      background: #726c6c;
      padding: 0px;
      .material-icons {
        margin-top: -2px;
        color: #fff;
        cursor: pointer;
        margin-left: 3px;
      }
      span {
        margin-top: 0px;
        position: absolute;
        font-size: 12px;
        margin-left: 7px;
        color: #fff;
        font-weight: bold;
      }
    }
    .player-layout {
      min-height: 10px;
      background: #7b6d6d6e;
      position: relative;
      text-align: center;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      .control-section {
        display: inline-flex;
        .control-section1,
        .control-section3 {
          margin-top: 10px;
        }
        .control-section4 {
          margin-top: 10px;
          margin-left: 130px;
          display: inline-flex;
          span {
            margin-left: 2px;
          }
        }
        .material-icons {
          margin-left: 5px;
          margin-right: 5px;
          cursor: pointer;
          &:hover {
            color: #fff;
          }
          &.icon-desabled {
            color: gray;
          }
          &.icon-active {
            color: #fff;
          }
        }
        .play-pause {
          font-size: 40px;
          color: chocolate;
        }
      }
    }
  }
}

.seek {
  input[type="range"] {
    height: 16px;
    -webkit-appearance: none;
    width: 83%;
    padding: -19px;
    margin-top: -9px;
    background: none;
    margin-left: 28px;
    margin-right: 0;
  }

  input[type="range"]:focus {
    outline: none;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #50555c;
    background: #50555c;
    border-radius: 14px;
    border: 0px solid #000000;
  }
  input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 8px;
    width: 45px;
    border-radius: 13px;
    background: #529de1;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 3px;
  }
  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #50555c;
  }
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #50555c;
    background: #50555c;
    border-radius: 14px;
    border: 0px solid #000000;
  }
  input[type="range"]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 8px;
    width: 45px;
    border-radius: 13px;
    background: #529de1;
    cursor: pointer;
  }
  input[type="range"]::-ms-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type="range"]::-ms-fill-lower {
    background: #50555c;
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #50555c;
  }
  input[type="range"]::-ms-fill-upper {
    background: #50555c;
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #50555c;
  }
  input[type="range"]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 8px;
    width: 45px;
    border-radius: 13px;
    background: #529de1;
    cursor: pointer;
  }
  input[type="range"]:focus::-ms-fill-lower {
    background: #50555c;
  }
  input[type="range"]:focus::-ms-fill-upper {
    background: #50555c;
  }
}

.control-section4 {
  input[type="range"] {
    height: 6px;
    -webkit-appearance: none;
    width: 70%;
    padding: -19px;
    margin-top: -9px;
    background: none;
    margin-left: 0px;
    margin-right: 0;
  }
  input[type="range"]:focus {
    outline: none;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #1f83c4;
    border-radius: 0px;
    border: 0px solid #000000;
  }
  input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8.5px;
  }
  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #1f83c4;
  }
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #1f83c4;
    border-radius: 0px;
    border: 0px solid #000000;
  }
  input[type="range"]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
  }
  input[type="range"]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type="range"]::-ms-fill-lower {
    background: #1f83c4;
    border: 0px solid #000000;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type="range"]::-ms-fill-upper {
    background: #1f83c4;
    border: 0px solid #000000;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type="range"]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
  }
  input[type="range"]:focus::-ms-fill-lower {
    background: #1f83c4;
  }
  input[type="range"]:focus::-ms-fill-upper {
    background: #1f83c4;
  }
}
