@import "~@angular/material/theming";

$custom-typography: mat-typography-config(
  $font-family: '"Calibri", sans-serif;'
);
@include mat-core($custom-typography);

.topSearch {
  width: calc(100% - 400px);
  overflow: hidden;
  height: 40px;
  // padding: 0 15px;
  border: 1px solid var(--text-active-color);
  margin: 0 20px;
  font-size: 16px;
  border-radius: 20px;
  box-shadow: #D1D1D1 0px 3px 6px;
  .mat-form-field {
    width: 100%;
    top: -12px;
    text-align: center;
  }
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    bottom: 0;
    display: none;
  }
  .mat-form-field-label {
    color: var(--label-color);
  }
  .mat-focused .mat-form-field-label {
    color: var(--label-color);
  }
}

.mat-autocomplete-panel {
  border-radius: 0px 0px 20px 20px !important;
  margin-top: 6px;
  background: var(--autocomplete-background-color);
}
.side-nav-container {
  // height: calc(100vh - 66px);
  background: var(--primary-color);
  float: left;
  box-shadow: #D1D1D1 0px 3px 6px;;
  width: 60px;
}

@media only screen and (max-width: 1110px) {
  .side-nav-container {
    // height: cac(100vh) !important;
    background: var(--primary-color);
    float: left;
    box-shadow: #D1D1D1 0px 3px 6px;
    width: 66px;
  }
}
/*responsive css menu*/
.ui-responsive-menu {
  display: inline-flex;
  padding-bottom: 10px;
}
.ui-responsive-nav {
  ul {
    // background: rgba(53, 151, 236, 0.21);
    list-style: none;
    margin: 0;
    padding-left: 0;
    a {
      text-decoration: none;
      color: var(--primary-color);
    }
    li {
      color: var(--primary-color);
      // background: #d4e9fb;
      display: block;
      float: left;
      padding: 1rem;
      position: relative;
      text-decoration: none;
      transition-duration: 0.5s;
      z-index: 1;
    }
    li a {
      color: var(--text-active-color);
    }

    li:hover {
      background: var(--text-active-color);
      cursor: pointer;
    }
    li .active {
      background: var(--text-active-color);
      cursor: pointer;
      a {
        color: var(--primary-color);
      }
    }
  }
  ul li ul {
    // background: #d4e9fb;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }

  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  ul li ul li {
    clear: both;
    width: 100%;
    background: var(--list-background-color);
  }
  ul li ul li:hover {
    a {
      color: var(--primary-color);
    }
  }
}

.left-layout-sec {
  // width: calc(23% - 41px);
  width: 400px;
  background: var(--primary-color);
  float: left;
  margin-left: 1px;
}

.middle-layout-sec {
  width: 800px;
  // width: calc(44% - 44px);
  margin: 0px 19px 0px 22px;
  background: var(--primary-color);
  float: left;
}

.right-layout-sec {
  width: 600px;
  // width: calc(32% - 14px);
  background: var(--primary-color);
  float: left;
}

@media only screen and (max-width: 1110px) {
  .left-layout-sec {
    width: 86%;
    background: var(--primary-color);
  }

  .middle-layout-sec {
    width: 86%;
    background: var(--primary-color);
    margin: 22px 0px 22px 0px;
  }

  .right-layout-sec {
    width: 86%;
    background: var(--primary-color);
  }
}
