@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
:root {
  --box-sadow-1: rgba(0, 0, 0, 0.2);
  --box-sadow-2: rgba(0, 0, 0, 0.14);
  --box-sadow-3: rgba(0, 0, 0, 0.12);
  --primary-color: #fff;
  --fore-color: #5F5F5F;
  --text-active-color: #3597ec;
  --label-color: #rgba(0, 0, 0, 0.54);
  --body-color: #EBF7FF;
  --list-background-color: #d4e9fb;
  --autocomplete-background-color: #f5f5f5db;
}

body {
  font-family: calibri;
  margin: 0;
  background-color: var(--body-color);
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 1px -2px var(--box-sadow-1), 0 1px 5px 0 var(--box-sadow-2), 0 1px 3px 0 var(--box-sadow-3);
}

.mat-card {
  border-radius: 8px!important;
}

.box-shadow {
  box-shadow: 0 2px 1px -2px var(--box-sadow-1), 0 1px 5px 0 var(--box-sadow-2), 0 1px 3px 0 var(--box-sadow-3);
}

.mat-icon-button .mat-icon {
  line-height: 24px;
  font-size: 18px;
}

.material-icons {
  color: var(--fore-color);
}