.today-story {
    /* display: inline-block; */
    width: calc(18% - 30px);
    background: #fff;
    margin-left: 5px;
    float: left;
    padding: 0px 20px 0px 20px;
}

.thinking-today {
    /* display: inline-block; */
    width: 35%;
    margin: 0 15px;
    background: #fff;
    float: left;
    padding: 0px 20px 0px 20px;
}

.start-creating {
    /* display: inline-block; */
    width: 32%;
    background: #fff;
    float: left;
    padding: 0px 20px 0px 20px;
}