.today-story {
    width: 19%;
    background: #fff;
    float: left;
    padding: 0px 20px 0px 20px;
}

.thinking-today {
    width: 33%;
    margin: 0 23px;
    background: #fff;
    float: left;
    padding: 0px 20px 0px 20px;
}

.start-creating {
    width: 32%;
    background: #fff;
    float: left;
    padding: 0px 20px 0px 20px;
}