<div class="all-media-parent-menu">
    <mat-nav-list>
        <a mat-list-item [ngClass]="{'active':'Cloud'=== topMenuSelected}"><i class="material-icons">cloud</i> Cloud</a>
        <a mat-list-item [ngClass]="{'active':'Guidlines'=== topMenuSelected}"><i
                class="material-icons">assignment_turned_in</i>Photos Guidlines</a>
    </mat-nav-list>
</div>
<div class="all-media-sub-menu">
    <mat-nav-list>
        <a mat-list-item [ngClass]="{'active':'Photos'=== middleMenuSelected}"><i class="material-icons">collections</i>
            Photos</a>
        <a mat-list-item [ngClass]="{'active':'Videos'=== middleMenuSelected}"><i
                class="material-icons">video_library</i>Videos</a>
        <a mat-list-item [ngClass]="{'active':'Music'=== middleMenuSelected}"><i
                class="material-icons">library_music</i>Music</a>
        <a mat-list-item [ngClass]="{'active':'Podcasts'=== middleMenuSelected}"><i
                class="material-icons">mic</i>Podcasts</a>
        <a mat-list-item [ngClass]="{'active':'Files'=== middleMenuSelected}"><i
                class="material-icons">file_copy</i>Files</a>
    </mat-nav-list>
</div>
<div class="all-media-child-menu">
    <mat-nav-list>
        <a mat-list-item [ngClass]="{'active':'All'=== bottomMenuSelected}">All</a>
        <a mat-list-item [ngClass]="{'active':'Recent'=== bottomMenuSelected}">Recent</a>
        <a mat-list-item [ngClass]="{'active':'Uploaded'=== bottomMenuSelected}">Uploaded Photos</a>
        <a mat-list-item [ngClass]="{'active':'Library'=== bottomMenuSelected}">Photo Library</a>
    </mat-nav-list>
</div>
<div class="all-media-section space-sec-c-scroll" [style.height.px]="screenHeight - 260">
    <div class="cloud">
        <i class="material-icons">cloud_upload</i>
        <p>
            Upload and access your Photos from your Private Cloud.<br> Store Unlimited Photos and access from any
            device,
            anywhere.
        </p>
    </div>
    <div class="music-container">
        <music-player [showFileList]="showFileList"></music-player>
    </div>
    <div class="video-container">
        <video-player></video-player>
    </div>
    <div class="media-files">
        <div class="media">
            <img mat-card-image src="../../../assets/images/media1.png" alt="Photo of a Shiba Inu">
            <span>Created 2 days ago. 17:00, 21 April 1980</span>
        </div>
        <div class="media">
            <img mat-card-image src="../../../assets/images/media2.png" alt="Photo of a Shiba Inu">
            <span>Created 2 days ago. 17:00, 21 April 1980</span>
        </div>
        <div class="media">
            <img mat-card-image src="../../../assets/images/media3.png" alt="Photo of a Shiba Inu">
            <span>Created 2 days ago. 17:00, 21 April 1980</span>
        </div>
    </div>
    <div class="media-files">
        <div class="media">
            <img mat-card-image src="../../../assets/images/media3.png" alt="Photo of a Shiba Inu">
            <span>Created 2 days ago. 17:00, 21 April 1980</span>
        </div>
        <div class="media">
            <img mat-card-image src="../../../assets/images/media2.png" alt="Photo of a Shiba Inu">
            <span>Created 2 days ago. 17:00, 21 April 1980</span>
        </div>

        <div class="media">
            <img mat-card-image src="../../../assets/images/media4.png" alt="Photo of a Shiba Inu">
            <span>Created 2 days ago. 17:00, 21 April 1980</span>
        </div>
    </div>
    <div class="media-files">
        <div class="media">
            <img mat-card-image src="../../../assets/images/media1.png" alt="Photo of a Shiba Inu">
            <span>Created 2 days ago. 17:00, 21 April 1980</span>
        </div>
        <div class="media">
            <img mat-card-image src="../../../assets/images/media3.png" alt="Photo of a Shiba Inu">
            <span>Created 2 days ago. 17:00, 21 April 1980</span>
        </div>
        <div class="media">
            <img mat-card-image src="../../../assets/images/media2.png" alt="Photo of a Shiba Inu">
            <span>Created 2 days ago. 17:00, 21 April 1980</span>
        </div>

    </div>
    <div class="media-files">
        <div class="media">
            <img mat-card-image src="../../../assets/images/media4.png" alt="Photo of a Shiba Inu">
            <span>Created 2 days ago. 17:00, 21 April 1980</span>
        </div>
        <div class="media">
            <img mat-card-image src="../../../assets/images/media3.png" alt="Photo of a Shiba Inu">
            <span>Created 2 days ago. 17:00, 21 April 1980</span>
        </div>
        <div class="media">
            <img mat-card-image src="../../../assets/images/media2.png" alt="Photo of a Shiba Inu">
            <span>Created 2 days ago. 17:00, 21 April 1980</span>
        </div>

    </div>
</div>