<div class="guidline">
    <div class="row">
        <div class="img-sec">
            <img src="../../../../assets/images/guidline.JPG">
        </div>
        <div class="content-sec">
            <p>Copyright and Fair Use Guidelines Updated May 11, 2018
            </p>
        </div>
    </div>
    <div class="row">
        <div class="img-sec">
            <img src="../../../../assets/images/guidline.JPG">
        </div>
        <div class="content-sec">
            <p>
                The information presented here is general information
                for educational purposes only. It is not a UMUC policy statement and does not constitute legal advice,
                nor
                does it take precedence over any rules or guidelines set by Learning Design and Solutions (LD&S), The
                Graduate School,
            </p>
        </div>
    </div>
    <div class="row">
        <div class="img-sec">
            <img src="../../../../assets/images/guidline.JPG">
        </div>
        <div class="content-sec">

            <p>or The Undergraduate School regarding selection and use of materials in the classroom and
                is not intended to be used as such. Faculty members should consult with their Program Chair or Course
                Chair
                on any issues related to using materials in their classroom. Faculty, Program Chairs, or Course Chairs
                can
                consult with LD&S for guidance on copyright and fair use based on the particular facts and circumstances
                under consideration. </p>

        </div>
    </div>
    <div class="row">
        <div class="img-sec">
            <img src="../../../../assets/images/guidline.JPG">
        </div>
        <div class="content-sec">

            <p>
                LD&S may seek legal advice from the Office of Legal Affairs as needed to address
                faculty concerns. Consistent with USM Policy IV-3.20 – Policy on Intellectual Property and UMUC Policy
                190.00 – Intellectual Property, UMUC has developed this educational resource on the use of copyrighted
                materials. This resource describes general library and educational fair use and fair use exceptions for
                research and scholarly work. The purpose of this resource is to help UMUC faculty understand the basics
                of
                copyright and fair use. Students may also find this resource useful. I. What is copyright? Copyright is
                a
                legal device that provides the author of a work of art, literature, or drama with the right to control
                how
                the work is used. Copyright is a form of protection grounded in the U.S. Constitution and granted by law
                for
                original works of authorship fixed in a tangible medium of expression. Copyright covers both published
                and
                unpublished works. The intent of copyright law is to advance the progress of knowledge by giving an
                author
                of a work an economic incentive to create new works. II. What is protected by copyright? Copyright
                protects
                original works of authorship including literary, dramatic, musical, and artistic works, such as poetry,
                novels, movies, songs, computer software, and architecture.
            </p>

        </div>
    </div>
    <div class="row">
        <div class="img-sec">
            <img src="../../../../assets/images/guidline.JPG">
        </div>
        <div class="content-sec">

            <p>Copyright does not protect facts, ideas,
                systems, or methods of operation, although it may protect the way these things are expressed. Other
                examples
                include websites, YouTube videos, online articles, blogs, videos, photographs, and many other types of
                works
                found online. A work is protected by copyright law from the moment it is created and fixed in a tangible
                form that it is perceptible either directly or with the aid of a machine or device. In other words, a
                copyright exists from the time a work is written down or recorded. A copyright does not have to be
                registered to be protected; although, there are benefits of registration. A work must be fixed, original
                and
                exhibit minimal creativity to be protected by copyright: Fixation – A work is “fixed” when it is
                captured in
                a sufficiently permanent medium such that the work can be perceived, reproduced, or communicated for
                more
                than a short time. For instance, a work is fixed when it is written on a piece of paper, posted online,
                stored on a computer or phone, or recorded on an audio, video or electronic device. Originality – An
                original work of authorship is a work that is independently created by a human author and possesses at
                least
                some minimal degree of creativity. Minimal Creativity – If the work is based on a previous work, the new
                work must include something that is above and beyond the original work; however, there must just be a
                spark
                of creativity to meet this requirement. Verbatim use is not considered original or minimally creative.
            </p>
        </div>
    </div>
</div>